@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; }
body { line-height:1.5; font-family:"Microsoft Yahei", "宋体", Tahoma, Arial, Helvetica, STHeiti, sans-serif; font-size:14px; }
ul, ol { list-style:none; }
a { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration: none; color:#3b2209; }
input, select { vertical-align:middle; } /* End HTML5 reset */
body { overflow: hidden; margin:0 auto; padding:0px; background: url('../images/bg2.jpg') no-repeat center 0; }
#main { width:971px; height: 600px; position: relative; margin:0 auto; background: url('../images/bg2.jpg') no-repeat center 0; overflow: visible; color:#09a07f; }
#left { position: absolute; top:151px; left:75px; }
#right { position: absolute; top:151px; left: 353px; width:540px }
#foot { position: absolute; bottom: 4px; text-align: center; left:107px; color:#114251; }
/* nav  */
#nav { position:absolute; top:148px; left:619px; }
#nav li { float: left; padding-left: 8px; }
#nav li a { background: url(../images/buttons_2.png) no-repeat; display: block; height: 27px; width:80px; }
#nav a.sec_1 { background-position: -247px -252px; }
#nav a.sec_2 { background-position: -335px -252px; }
#nav a.sec_3 { background-position: -422px -252px; }
#nav a.sec_1:hover { background-position: -247px -281px; }
#nav a.sec_2:hover { background-position: -335px -281px; }
#nav a.sec_3:hover { background-position: -422px -281px; }
/* server_last */
#server_last { position: absolute; top:50px; left:7px; color:#000; font-size: 16px; }
#server_last ul li { display: block; background: url('../images/buttons_2.png') no-repeat 0px -60px; width: 255px; height: 55px; margin-bottom: 5px; }
#server_last a { display: block; color:#e5d13b; line-height:36px; }
#server_last span { padding-left:20px; margin-right: 54px; margin-top: 10px; display: inline-block; }
#server_last label { cursor: pointer; }
#server_last label.st { display: inline-block; width: 48px; height: 22px; vertical-align: middle; background: url('../images/rd.png') no-repeat 0px -23px; }
#server_last label.arrow { display: inline-block; width: 10px; height: 22px; vertical-align: middle; background: url('../images/rd.png') no-repeat -49px -23px; margin-left: 6px; }
#newList { position: absolute; padding: 3px; top:218px; left:4px; color:#337973; }
#newList li { border-bottom:1px dashed #A08D63; line-height: 22px; font-size: 12px; white-space: nowrap; }
#newList li.first { padding: 3px 0; }
#newList a.newAds { width: 256px; height: 70px; display: block; }
#newList a.newAds img { width: 256px; height: 70px; }
#tabList { position: absolute; top:60px; left:6px; }
#tabList li { float:left; }
.tabList { clear:both; }
.tabList li { float:left; }
#tabList span, #tabList a { display: block; background: url('../images/buttons_2.png') no-repeat; width:133px; height: 47px; }
#tabList span.sec_6 { background-position: -1px -413px; }
#tabList span.sec_6_active { background-position: 0px -365px; }
#tabList span.sec_7 { background-position: -135px -365px; width: 134px; cursor: pointer; }
#tabList span.sec_7_active { background-position: -137px -413px; width: 140px; cursor: pointer; }
#tabList a.sec_8 { background-position: -258px -60px; width: 103px; height: 23px; cursor: pointer; }
#server_recommend { position:absolute; top:101px; left:4px; color:#0b5161; }
#server_recommend li a { display: block; }
#server_recommend a.ser_link { color:#e5d13b; background: url('../images/buttons_2.png') no-repeat 0 -152px; width: 459px; height: 47px; cursor: pointer; }
#server_recommend a:hover { background: url('../images/buttons_2.png') no-repeat 0 -204px; cursor: pointer; }
#server_recommend li span { display: inline-block; }
#server_recommend li span.hot { background: url('../images/hot.png') no-repeat 0 0; width:82px; height: 43px; margin-top: 4px; vertical-align: middle; }
#server_all { height: 241px; overflow-y: auto; overflow-x: hidden; position: absolute; top:107px; left:9px; padding:24px 20px 0 20px; display: none; }
#server_all li { float: left; padding-bottom: 8px; line-height: 1; text-align: center; vertical-align: middle; margin-right:10px; }
#server_all a { display: inline-block; width:150px; height: 36px; background: url('../images/buttons_2.png') no-repeat 0 -252px; line-height: 36px; color:#dbd41f; }
#server_all a:hover { background: url('../images/buttons_2.png') no-repeat 0 -291px; }
#server_all a.linkleft { color:#dbd41f; }
#foot a { color:red; }
