<div class="m_l">
    <div class="start">
        <a href="?m=Agent&a=index&pid=1" class="start ht">开始游戏</a>
    </div>
    <div class="signIn">
        <div class="signBox">
            <div id="userlogin" class="noneLogin">
                <div class="clear">
                    <form name="login" id="login">
                        <a class="in_sub ht" href="javascript:;" id="user_login">登录</a>
                        <input type="text" name="username" id="login_user"  placeholder="请输入用户名"  class="in_txt" rangelength="[2,25]" required="1" data-msg-required="需要输入登录用户名" data-msg-rangelength="用户名不能小于4位或者大于20位" />
                        <input type="password" name="password" id="login_pwd"   placeholder="请输入密码" class="in_txt" rangelength="[2,25]" required="1" data-msg-required="需要输入登录密码" data-msg-rangelength="登录密码不能小于5位或者大于20位" />
                        <input type="text" name="verify"   id="login-vfy" placeholder="请输入验证码" size="5" minlength="5"  maxlength="5" class="in_txt" required="1" number="true" data-msg-required="验证码不能为空" data-msg-minlength="验证码最小为5位"/>
                        <img id="login-verifyImg" src="?m=Index&a=verify" onclick="this.src='?m=Index&a=verify&rdm='+Math.random()" style="width:69px;height:25px;margin:5px 0 0 3px;" title="点击刷新验证码" />
                        <select class="int_txt" name="agentid" required="1" number="1" data-msg-required="游戏平台不能为空" date-msg-number="游戏平台必须为一个数字">
                            <option value="">请选择游戏平台</option>
                            <foreach name="arrAgents" item="value">
                                <option value="{$value.id}">{$value.cn_name}</option>
                            </foreach>
                        </select>
                    </form>
                    <div id="login_error"></div>
                    <label class="h_error"></label>
                </div>
                <div class="login_txt">
                    <a href="javascript:;" class="user_register">立即注册新用户</a>
                </div>
            </div>
            <div id="isLogin" class="siginBox haveLogin" >
                <ul class="user_info">
                    <li>欢迎登录：</li>
                    <li>尊敬的：<span id="user_name" class="my_name">{$Think.session.gt_homeUser.username}</span></li>
                    <li class="tc">
                        <a href="?m=Member&a=index"> [用户中心] </a>
                        <a href="javascript:logout();"> [退出] </a>
                    </li>
                </ul>
            </div>

            <div class="login_but">
                <!--<a href="?m=Article&a=newCard" class="xsk">死神狂潮新手卡</a>-->
                <a href="?m=Pay&pitch=pay" class="zc isLogin">游戏充值</a>
            </div>
        </div>
    </div>

    <div class="server mt10 b">
        <h3 class="l_tit">推荐服务器
            <div class="t_s">
                <a href="javascript:;"  class="s_s fr ht " id="login_games">进入</a>
                <input id="leftServer" type="text" value="" class="s_t fl" />
            </div>
        </h3>
        <div class="zhs_fwq">
            <ul class="serverList">
                <volist name="arrRecommend" id="vo" key="k">
                <li class="<if condition="$k%2 eq 1">bj</if>">
                    <span>火爆</span>
                    <a target="_blank" class="loginGames_{$vo.id} isLogin" sid="{$vo.id}" href="?m=Server&aid={$vo.agentid}&server_id={$vo.id}">{$vo.serverName}</a>
                </li>
                </volist>
            </ul>
            <a class="s_more seeAll" href="<if condition="!empty($_SESSION['gt_uname'])">?m=Game&a=index&pid=1&aid={$Think.session.gt_aid}<else/>?m=Agent&a=index&pid=1</if>">查看全部服务器</a>
        </div>
    </div>

    <div class="about mt10 b">
        <h3 class="l_tit">游戏介绍</h3>
        <p>
            《死神狂潮》是一款在死神的世界中努力成长为最强死神的横版通关类RPG游戏，可以通过游戏中特色的活动来不断的提升自己的能力，竟而挑战难度更高的敌人，成为死神狂潮中最强的人物。
            <a href="?m=Agent&a=index&pid=1" class="red">立即体验&gt;&gt;</a>
        </p>
    </div>

    <div class="client mt10 b">
        <h3 class="l_tit">客服中心</h3>
        <div class="zhs_fwq">
            <p class="client_list">
                充值客服QQ：<a href="tencent://message/?uin=33861362">33861362</a><br>
                官方交流群：370401248<br>
            </p>
            <a class="s_more" href="?m=About" rel="nofollow">关于我们</a>
        </div>
    </div>
</div>