@charset "utf-8";
* { margin:0; padding:0; list-style:none;}
body,div,input,p,ul,li,a,img{ margin:0px; padding:0px; border:0 none;}
body{ font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#45758d;}
div{ overflow:hidden;}
a{ color:#c8ebff; text-decoration:none;}	/*鍏憡棰滆壊*/
a:hover { color:#c8ebff;}
.m_h_28 {height:0px;}
ul li{ list-style:none;padding:0}
.b { font-weight:bolder;}
.st { font-family:"瀹嬩綋";}
.pbtn { display:block; overflow:hidden; text-indent:-9999px;}
.rel { position:relative;}
.abs { position:absolute;}
.tl { text-align:left;}
.tr { text-align:right;}
.tc { text-align:center;}
.xs { display:block;}
.yc { display:none;}
.fl { float:left;}
.fr { float:right;}
.nbnj {
	position:absolute;
	width:200px;
	height:90px;
	top:7px;
	left:78px;
}
.nav_fixed {margin:0px;}
.nbnj a{  width:247px; height:90px; display:block; text-indent:-9999px;}
.warp { background: url(../images/bg.jpg) top center no-repeat; height:auto;}
.content{ width:1000px; margin:0 auto; }
.head1{ width:1000px; height:60px; background:url(../images/top.jpg) no-repeat;overflow:visible;}
.tbox1 { width:1000px;}
.logo { width:155px; height:55px; line-height:55px; left:45px; top:0;}
.btn_box1 { width:180px; height:22px; right:0; top:20px;}
.btn_box1 a { display:block; float:left; line-height:22px;}
.btn_box1 a.btn_xztb { background:url(../images/head2_but1.jpg) no-repeat; width:80px; height:22px; padding-left:28px; margin-right:3px;}
.btn_box1 a.btn_sc { background:url(../images/head2_but2.jpg) no-repeat; width:63px; height:22px;}
.blk { width:155px; height:55px; margin-left:45px; display:block; float:left;}
.head1 span { width:175px; height:22px; margin:25px 27px auto auto; float:right;}
.head1 span a { width:108px; height:22px; background:url(../images/head2_but1.jpg) no-repeat;float:left; display:inline; text-align:center; line-height:22px;}
.head1 span p a { width:108px; height:22px; background:url(../images/head2_but2.gif) no-repeat;float:left; display:inline; text-align:center; line-height:22px;}
.head1 span a { margin-left:15px;}
.head2{ width:980px; height:580px; background:url(../images/main_bg.jpg) no-repeat; padding-left:20px;}
.back { padding-right:22px;}
.back span { margin-top:29px; height:29px; float:right;}
.back span a { width:60px; height:22px; line-height:22px; float:left; display:inline-block; text-align:center; background:url(../images/b_but1.jpg) no-repeat; margin-left:3px; color:#f0f0f0;} /*娉ㄥ唽鎸夐挳鏂囧瓧棰滆壊*/
.back span label a { width:80px; background:url(../images/b_but2.jpg) no-repeat;}
.back span label a.fhgw { width:80px; background:url(../images/b_but3.jpg) no-repeat;}
.back span label a.fhgw1 { width:99px; background:url(../images/b_but.jpg) no-repeat; text-indent:15px;}
.list_f { width:1000px; height:60px; background:url(../images/bottom.jpg) no-repeat;}
.box { padding-right:15px;}
.left { width:338px; height:520px; float:left; border:1px solid #264a60; margin:0 auto auto auto; clear:both; }
.left p{ margin:8px 4px 5px 4px; color:#104463;} /*蹇犲憡瀛椾綋棰滆壊*/
.lbg { border:1px solid #a0e9ff; background:#88b4ce; height:520px; padding:10px; } /*宸﹁竟鑳屾櫙鑹�*/
.title { width:318px; height:25px; line-height:18px; background:url(../images/but.jpg) no-repeat; background-position:0 0;}
.title a { float:right; color:#fff; margin:5px 8px;} /*鏇村棰滆壊*/
.title a:hover { color:#cbcbcb;}  
.fr { color:#c8ebff; float: right;} /*鍏憡鏃ユ湡棰滆壊*/
.newslist { background-color:#324c7d; margin-top:5px; padding:0 0 0 5px; height:177px; } /*鍏憡鏂囧瓧鑳屾櫙鑹�*/
.newslist ul { padding:8px 2px 8px 2px;}
.newslist ul li {  padding:0 5px 2px 0; display:block; line-height:18px; height:18px; overflow:hidden;}
.newslist ul li a { padding-left:10px;}
.newslist ul li a:hover { text-decoration:underline;}
.but { padding:8px 0 0 5px; display:block; height:50px;}
.but a { width:150px; height:40px; display:block; text-indent:-9999px; line-height:40px; overflow:hidden; float:left; background:url(../images/but.jpg) no-repeat;}
.but a.but1 { background-position:0 -129px; margin-right:8px;}
.but a.but2 { background-position:-150px -129px;}

.gg_box { width:308px; height:180px; overflow:hidden; padding-left:5px;}
.gg { width:328px;}
.gg a { margin-right:20px; display:block; width:144px; height:174px; float:left;}
.gg a img { width:140px; height:170px; border:2px solid #025689;} /*鍥剧墖杈规潯*/
.gg a:hover img { border:2px solid #191919;}

.right { width:620px; height:520px; float:right; border:1px solid #264a60; margin:0 0 auto 0;}
.right a:hover { color:#fdf59a;}
.right span { margin-left:5px; color:#d9edf7; font-weight:bold; font-size:13px;} /*鏍囬鏂囧瓧鑹�*/
.right label { color:#754c24;}
.rbg { border:1px solid #a0e9ff; background:#88b4ce; height:518px; padding:10px; } /*鍙宠竟鑳屾櫙鑹�*/

.tj { width:600px; height:96px; margin-bottom:10px;}
.login table { height:25px; display:block; float:right; text-align:center; padding-right:10px; color:#333333;} /*鐢ㄦ埛鍚嶅拰瀵嗙爜鑹�*/ 
.login label { margin-left:100px;}
.login span.tjfwq { width:101px; height:18px; background:url(../images/tjtitle.jpg) -5px 0px no-repeat; padding:7px 0 0 15px; float:left;}
a.dl { width:50px; height:22px; background:url(../images/but.jpg) no-repeat; background-position:0px -169px; float:left; margin-left:5px; display:inline-block;}
a.dl:hover { background-position:-273px -85px;}
.dlq {}
.dlh { padding-right:10px; color:#c8ebff;} 
.dlh span { color:#9e0b0f; margin:0 3px;} /*鐢ㄦ埛鍚嶅瓧浣撹壊*/
.dlh a { margin-left:10px; color:#9e0b0f;} /*娉ㄩ攢瀛椾綋鑹�*/
.dlh a:hover { color:#f60;}
.i_c { width:100px; height:18px; background:#fff; border:solid 1px #000;} /*瀵嗙爜妗嗚皟棰滆壊*/
.tjbg { width:597px; min-height:71px; background:url(../images/tjbg.jpg) no-repeat;}
.hot { margin:3px 0 10px 15px;}
.hot a{ color:#fffbce; line-height:40px; padding-left:30px; float:left; width:363px; height:40px; display:block;}
.hot a:hover { color:#fff000; text-decoration:underline;}
.hot span { color:#fff000; padding-left:5px;}
.hot1,.hot2 { font-size:14px; width:363px; height:40px; background:url(../images/list_bg.jpg) no-repeat; display:inline; padding-top:12px;}
.hot1 { background-position:0px 12px; float:left; margin-right:15px; margin-left:113px; text-indent:5px;}


.mine { height:79px; display:block; margin-bottom:10px; border:1px solid #033a5d; background:#324c7d;} /*鎴戠殑鏈嶅姟鍣�*/
.search { height:25px; padding-top:4px; border-bottom:1px solid #4b73bd; background:#324c7d;}
.search span{ margin-top:3px; float:left;}
.search ul { display:block; float:right; width:190px; color:#c8ebff;}
.search ul li { display:block; float:left; height:25px; line-height:25px;}
.search ul li.i_s { width:50px; height:18px; background:#FFF; border:solid 1px #000; line-height:18px;} /*input鏍峰紡*/
.search ul li.i_s input { width:50px; height:18px; display:block; overflow:hidden;}
.search a { width:50px; height:22px; background:url(../images/but.jpg) no-repeat; background-position:-50px -169px;display:block; margin-left:5px; overflow:hidden; line-height:22px; text-indent:-9999px;}
.search a:hover { background-position:-273px -107px;}

.s ul,.alllist ul { padding-left:10px;}
.s ul a,.alllist ul a { color:#fff; float:left; display:block; width:110px; height:21px; background:url(../images/but.jpg) right no-repeat; background-position:-100px -169px;}  /*鏈嶇嚎瀛椾綋棰滆壊*/
.s ul a:hover,.alllist ul a:hover { width:110px; height:21px; background-position:-210px -169px;}
.s { padding-top:15px;}
.s ,.alllist { margin-left:3px; padding-right:7px;}
.alllist ul img,.s ul img { margin:5px 0 0 5px; float:left; display:block; width:11px; height:11px; }
.alllist ul li,.s ul li{ float:left; line-height: 20px; margin:0px 5px 10px 0px;width:110px;}

.all{ height:298px; display:block; border:1px solid #033a5d; background:#324c7d;} /*鎵€鏈夋湇鍔″櫒*/
.state { height:30px; border-bottom:1px solid #4b73bd; background:#324c7d; margin-bottom:15px;}
.state span { margin-top:8px; float:left;}
.state label { float:right; padding-top:8px; margin-right:10px; color:#c8ebff;} /*鐣呴€� 缁存姢 瀛椾綋鑹�*/
.line1 { margin-bottom:11px; clear:both;}

ul li i{  display:inline-block; width:11px; height:11px; background:url(../images/f.png) no-repeat; overflow:hidden; float:left; margin:4px 3px 0 5px; _margin-right:0;}/*榛樿鐣呴€�*/
ul li.m i{ background:url(../images/m.png) no-repeat;}/*缁存姢*/
ul li.h i{ background:url(../images/h.png) no-repeat;}/*绻佸繖*/
ul li.c i{ background:url(../images/c.png) no-repeat;}/*鎷ユ尋*/

.fw_tab{ width:570px; margin:0 auto; text-align:center; padding:0px 0 13px 0;}
.tab_list{ border-bottom:solid 1px #6985ba; height:25px; }
.tab_list li { width:80px; height:24px; float:left; margin-left:5px; display:inline;}
.tab_list li a{ display:block; padding-top:5px; width:80px; height:19px; background-color:#3c578c; border:solid 1px #6985ba; border-bottom:none; font-weight:bold; color:#a7dbfa;}
.tab_list li a:hover, .tab_list li .tab_item{ margin:0; background-color:#22375e; text-decoration:none; color:#ffffff;}

.qq{ background:url(../images/qq.jpg) 5px 0 no-repeat; padding:0 0 0 20px; height:19px; display:block; color:#003347}
.login a:hover,.login a:active{ color:#003347;}
