<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人博客</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <!--移动优先-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--引入公共CSS文件-->
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
    <import type="css" file="Home/css/base" />
    <import type="css" file="Home/css/index" />

    <!--引入公共js文件-->
    <script type="text/javascript" src="__JS__/jquery.min.js"></script>
    <script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">loveme刘星 个人博客</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active">
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="/about">关于我</a>
                </li>
                <li>
                    <a href="/contact">文章</a>
                </li>
                <li>
                    <a href="/contact">心情</a>
                </li>
                <li>
                    <a href="/contact">相册</a>
                </li>
                <li>
                    <a href="/contact">留言</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" href="#">
                        个人中心
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"></a>
                        </li>
                        <li>
                            <a href="#">登录</a>
                        </li>
                        <li>
                            <a href="#">注册</a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li class="dropdown-header">做点什么</li>
                        <li>
                            <a href="#">发布文章</a>
                        </li>
                        <li>
                            <a href="#">上传图片</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--主要内容-->
<div class="container content">
    <div class="row">
        {__CONTENT__}
    </div>
</div>

<!--悬浮DIV-->
<div id="tbox">
    <a id="togbook" href="/"></a>
    <a id="gotop" href="javascript:;"></a>
</div>

<!--尾部信息-->
<footer class="footer text-center">
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/">关于我</a></li>
        <li><a href="/">文章</a></li>
        <li><a href="/">心情</a></li>
        <li><a href="/">相册</a></li>
        <li><a href="/">留言</a></li>
    </ul>
    <p>刘星个人博客 821901008@qq.com </p>
</footer>
<script type="text/javascript">
    $(function(){
        // 回顶部自动判断

    })
</script>
</body>
</html>