<include file="Layout:indexHeader" />
<foreach name="arrRowFluid" item="value">
<div class="row-fluid {$value.class}">
    <div class="box span12">
        <!--前面导航信息-->
        <div class="box-header" data-original-title="">
            <h2>
                <i class="icon-desktop"></i>
                <span class="break"></span>
                {$value.title}
            </h2>
            <div class="box-icon">
                {$value.topOperate}
            </div>
        </div>
        <div class="box-content">
            <if condition="$value.isShowTable eq true">
            <!--表格数据-->
            <table class="table table-striped table-bordered table-hover" id="showTable">
            </table>
            </if>

            <volist name="value.content" id="val">
            <div id="{$key}" class="{$val.class}">
                {$val.content}
            </div>
            </volist>
        </div>
    </div>
</div>
</foreach>

<script type="text/javascript">
    $(function() {
        // 表格
        var table = showDataTable($('#showTable'), {$aoColnmns}, 10, '?m={$Think.MODULE_NAME}&a=getDatas', {$arrParams|default="undefined"});
        // 分页样式
        $('#showTable_paginate').addClass('pagination pagination-centered');
        // 去掉搜索placeholder属性(不去掉白色看不见)
        $('input[type=search]').removeAttr('placeholder');
        // 添加搜索信息
        $('#showTable_filter').append('{$strSearch}');
        // 执行搜索
        $('.msearch').live('keyup change', function () {
            table.column(parseInt($(this).attr('vid'))).search($(this).val()).draw();
        });

        // 添加时间查询
        $('.datepicker').datepicker({
            showButtonPanel: true,
            dateFormat: 'yy-mm-dd'
        });

        // 表格刷新
        $('#table-refresh').click(function(){
            art.dialog({
                title: '正在刷新...',
                width:300,
                height:100,
                time:0.3,
                lock:true,
                close:function(){
                    table.draw(false);
                }
            })
        });

        // 隐藏内容
        $('.btn-close:first').click(function () {
            $('.main-menu li.active a').append('<span class="label">显示</span>').addClass('isShow').bind('click', function (e) {
                e.preventDefault();
                $('.row-fluid .box:first').fadeIn();
                $('.box:gt(0)').fadeOut();
                $(this).unbind('click').find('span:last').remove();
                return false;
            });
        });

        // 其他方式添加数据
        $('#addOther').click(function () {
            // 编辑框样式
            initEdit();
            fluidChange(':last', 'show');
        });

        // 添加隐藏删除
        $('.btn-close:gt(0)').click(function () {
            fluidChange(':last', 'hide')
        });

        // 数据添加
        $('#updateSub').click(function (e) {
            e.preventDefault();
            var vid = $('#addForm').find('input[type=hidden]').val();
            var isEdit = empty(vid) ? undefined : $('.btn-edit[vid=' + vid + ']');
            return handleEditData($('#addForm'), '?m={$Think.MODULE_NAME}&a=update', function () {
            }, true, true, isEdit);
        });

        // 显示DIV
        $('#addData').click(function () {
            $('#addForm')[0].reset();   // 显示之前表单重置
            showDiv($('#addDiv'), '添加{$title}', function () {
                // 添加处理
                return handleEditData($('#addForm'), '?m={$Think.MODULE_NAME}&a=update', function () {
                }, true);
            });
        });

        // 修改按钮
        $('.btn-edit').live('click', function () {
            var me = $(this), vid = me.attr('vid');
            if (!empty(vid)) {
                // ajax获取数据
                $.ajax({
                    url: '?m={$Think.MODULE_NAME}&a=getEditData',
                    type: 'get',
                    data: {'id': vid},
                    dataType: 'json',
                    success: function (json) {
                        if (json.status == 1) {
                            if ($('#addData').length >= 1) {
                                initForm(document.editForm, json.data);
                                showDiv($('#editDiv'), '修改{$title}', function () {
                                    // 数据处理
                                    return handleEditData($('#editForm'), '?m={$Think.MODULE_NAME}&a=update', function () {
                                    }, true, undefined, me);
                                });
                            }
                            else {
                                initEdit(json.data.content);            // 初始化编辑器信息
                                initForm(document.addForm, json.data);  // 初始化表单
                                fluidChange(':last', 'show');           // 转换布局内容
                                return false;
                            }

                            return false;
                        }

                        warning(json.msg)
                    },
                    error: function () {
                        warning();
                    }
                })

                return false;
            }

            warning('修改数据信息错误');
        });

        // 关闭清除数据
        $('#myModal').on('hidden.bs.modal', function(e){
            $(this).find('div.modal-body p').removeAttr('vid');
        });

        // 点击触发
        $('.delete-close').click(function(){
            var vid = $('#myModal').find('div.modal-body p').attr('vid');
            if (!empty(vid))
            {
                $.ajax({
                    url: '?m={$Think.MODULE_NAME}&a=delete',
                    type: 'get',
                    dataType: 'json',
                    data: {id: vid},
                    success: function (json) {
                        if (json.status == 1)
                        {
                            $("#myModal").modal('hide');
                            success(json.msg, function(){
                                $('.btn-delete[vid='+vid+']').parent().parent().remove();
                            });

                            return false;
                        }

                        $('.modal-body p').html('<span style="color:red">'+json.msg+'</span>');;
                    },
                    error: function () {
                        $('.modal-body p').html('<span style="color:red">服务器繁忙,请稍候再试...</span>');
                    }
                });
            }
        });

        // 删除按钮
        $('.btn-delete').live('click', function () {
            var me = $(this), vid = me.attr('vid');
            if (!empty(vid))
            {
                $('.modal-body p').html('您确定需要删除这条数据吗?').attr('vid', vid);
                $("#myModal").modal().show();
                return false;
            }

            warning('删除数据不存在');
        });

        // 数据导入
        $('#importData').click(function(){
            showDiv($('#importDiv'), '导入数据信息', function(){
                return handleEditData($('#importForm'), '?m={$Think.MODULE_NAME}&a=import', function(){
                    return false;
                }, true);
            });
        });

        // 修改导入迁移用户数据信息
        $('#updateUser').click(function(){
            showDiv($('#userDiv'), '修改导入用户lUserId', function(){
                return handleEditData($('#updateUserForm'), '?m={$Think.MODULE_NAME}&a=updateUser', function(){
                    return false;
                }, true);
            })
        });

        // 显示详情
        $('.btn-success').live('click', function () {
            var me = $(this), vid = me.attr('vid');
            if (!empty(vid)) {
                // ajax获取数据
                $.ajax({
                    url: '?m={$Think.MODULE_NAME}&a=getEditData',
                    type: 'get',
                    data: {'id': vid, 'handle':1},
                    dataType: 'json',
                    success: function (json) {
                        if (json.status == 1)
                        {
                            initTable(json.data);
                            fluidChange(':eq(1)', 'show');
                            return false;
                        }

                        warning(json.msg)
                    },
                    error:function(){
                        warning();
                    }
                });
            }
        });

        // 导入用户信息的联动(平台和服务器信息联动)
        $('.m-agentId').change(function(){
            $('.m-serverId').html('<option>请选择</option>');
            var aId = this.value;
            // 数据请求查询服务器信息
            if (!empty(aId))
            {
                $.ajax({
                    url:'?m={$Think.MODULE_NAME}&a=getLinkAge',
                    type:'get',
                    data:{id:aId},
                    dataType:'json',
                    success:function(json){
                        if (json.status == 1)
                        {
                            $('.importForm_error').html('').hide();
                            var module_name = '{$Think.MODULE_NAME}';
                            if (module_name == 'Server')
                                initForm($('#importForm')[0], json.data, false); // 表单赋值
                            else
                                $('.m-serverId').html(json.data);

                            return true;
                        }

                        $('.importForm_error,.updateUserForm_error').html(json.msg).show();
                    },
                    error:function(){
                        $('.importForm_error,.updateUserForm_error').html('服务器繁忙,请稍候再试...').show();
                    }
                })
            }
        });

        // 用户数据联动
        $('.m-serverId').change(function(){
            var sId      = this.value,
                aId      = $(this).parent().parent().parent().find('.m-agentId').val(),
                meparent = $(this).parent().parent().parent().parent().attr('id');
            // 数据请求查询服务器信息
            if (!empty(sId) && ! empty(aId))
            {
                $.ajax({
                    url:'?m={$Think.MODULE_NAME}&a=getServer',
                    type:'get',
                    data:{'sid':sId,'aid':aId},
                    dataType:'json',
                    success:function(json){
                        if (json.status == 1)
                        {
                            $('#' + meparent).find('input[name=mongohost]').val(json.data.mongoHost);
                            $('#' + meparent).find('input[name=mongoport]').val(json.data.mongoPort);
                            $('#' + meparent).find('input[name=mongoname]').val(json.data.mongoName);
                            return true;
                        }

                        $('.importForm_error').html(json.msg).show();
                    },
                    error:function(){
                        $('.importForm_error').html('服务器繁忙,请稍候再试...').show();
                    }
                })
            }
        });

        // 图片上传
        $('.fileUpload').fileupload({
            dataType: 'json',
            url: '?m=Image&a=fileUpload',
            // 上传之前的操作
            beforeSend:function(e, data){
                var arr = verifyUpload(data, 20000000, undefined , $('.fileUpload').val());
                // 上传存在错误
                if ( ! arr[0])
                {
                    $('.fileUpload').next('span:first').html('未选择文件');
                    warning(arr[1]);
                    return false;
                }
            },
            // 上传成功
            success: function(json)
            {
                if (json.status == 1)
                {
                    success(json.msg, function(){
                        $('.fileUpload').next('span:first').html(json.data.fileName);
                        $('.fileUpload').parent().prev('input[type=hidden]').val(json.data.fileUrl);
                    });
                    return false;
                }

                warning(json.msg);
            }
        });

        // 排序处理
        $(".todo-actions > a").live('click', function(){
            var mcla = $(this).find("i").attr("class"),
                acla = mcla == 'icon-check-empty' ?  'icon-check' : 'icon-check-empty',
                mopc = mcla == 'icon-check-empty' ? 0.25 : 1,
                mtex = mcla == 'icon-check-empty' ? 'line-through' : 'none';
                uniq = $(this).parent().find('input:last').val();

            $(this).find("i").removeClass(mcla).addClass(acla);
            $(this).parent().parent().find("span").css({opacity:mopc});
            $(this).parent().parent().find(".desc").css("text-decoration", mtex);

            // 添加和删除表单信息
            if (mcla == 'icon-check-empty')
                $(this).after('<input type="hidden" class="m-hide-sort" name="hide[]" value="'+uniq+'" />');
            else
                $(this).parent().find('.m-hide-sort').remove();

            return false
        });

        // 排序处理
        $('.m-sort').click(function(){
            $('.sortForm_error').html('')
            // 请求服务器获取数据
            $.ajax({
                url:'?m={$Think.MODULE_NAME}&a=getSort',
                type:'get',
                dataType:'json',
                success:function(json)
                {
                    // 响应成功
                    if (json.status == 1)
                    {
                        $('.m-sort-ul').html(json.data);
                        showDiv($('#sortDiv'), '推荐{$title}排序', function () {
                            var mloging = art.dialog({
                                title:'<span style="color:green">数据正在提交,请耐心等待...</span>',
                                width: 'auto',
                                height: 'auto',
                                lock:true,
                            }).show();

                            // 添加处理
                            $.ajax({
                                url:'?m={$Think.MODULE_NAME}&a=setSort',
                                type:'post',
                                data:$('#sortForm').serialize(),
                                dataType:'json',
                                success:function(json)
                                {
                                    mloging.close();
                                    if (json.status == 1)
                                    {
                                        success(json.msg, function(){
                                            $('.sortForm_error').html('');             // 错误清空
                                            $('#sortDiv').dialog('close');
                                            table.draw(false);
                                        });
                                        return false;
                                    }

                                    $('.sortForm_error').html(json.msg).show();

                                },
                                error:function()
                                {
                                    mloging.close();
                                    $('.sortForm_error').html('服务器繁忙,请稍候再试...').show();
                                }
                            })
                        });
                        return false;
                    }

                    warning(json.msg);
                },
                error:function()
                {
                    warning();
                }
            });

            return false;

        });
    });
</script>
<include file="Layout:indexFooter" />