<!--左侧导航信息-->
<ul class="nav nav-tabs nav-stacked main-menu">
    <li><a href="?m=Users&a=index"><i class="icon-user"></i><span class="hidden-tablet"> 用户管理 </span></a></li>
    <li><a href="?m=Agent&a=index"><i class="icon-desktop"></i><span class="hidden-tablet"> 平台管理 </span></a></li>
    <li><a href="?m=Server&a=index"><i class="icon-laptop"></i><span class="hidden-tablet"> 服务器管理 </span></a></li>
    <li><a href="?m=Order&a=index"><i class="icon-list-alt"></i><span class="hidden-tablet"> 订单信息 </span></a></li>
    <li><a href="?m=Order&a=count"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 订单统计 </span></a></li>
    <li><a href="?m=Category&a=index"><i class="icon-list"></i><span class="hidden-tablet"> 文章分类 </span></a></li>
    <li><a href="?m=Article&a=index"><i class="icon-align-justify"></i><span class="hidden-tablet"> 文章信息 </span></a></li>
    <li><a href="?m=Account&a=index"><i class="icon-gift"></i><span class="hidden-tablet"> 积分记录 </span></a></li>
</ul>