<div class="box-header me-header">
    <h2><i class="icon-list"></i> {$role['name']}({$role['desc']})角色信息 </h2>
</div>
<div class="contacts">
    <div class="alert-success me-alert">
        <strong> 导航栏信息  </strong>
    </div>
    <ul class="list">
        <li>
            <img class="avatar" src="/Public/img/avatar.jpg" alt="avatar" />
            <span class="name">Łukasz Holeczek</span>
            <span class="status online"></span>
            <span class="important">4</span>
        </li>
        <li>
            <img class="avatar" src="/Public/img/avatar.jpg" alt="avatar" />
            <span class="name">Łukasz Holeczek</span>
            <span class="status offline"></span>
        </li>
        <li>
            <img class="avatar" src="/Public/img/avatar.jpg" alt="avatar" />
            <span class="name">Łukasz Holeczek</span>
            <span class="status busy"></span>
        </li>
    </ul>
</div>
<div class="conversation">
    <div class="alert-error me-alert">
        <strong> 权限信息 </strong>
    </div>
    <ul class="talk">
        <foreach name="roleItems" item="value" key="key">
        <li>
            <img class="avatar" src="/Public/img/avatar.jpg" alt="avatar" />
            <span class="name">Łukasz Holeczek</span>
            <span class="time">1:32PM</span>
            <div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
        </li>
        </foreach>
        <!--<li>-->
            <!--<img class="avatar" src="/Public/img/avatar.jpg" alt="avatar" />-->
            <!--<span class="name">Łukasz Holeczek</span>-->
            <!--<span class="time">1:32PM</span>-->
            <!--<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img class="avatar" src="/Public/img/avatar.jpg" alt="avatar" />-->
            <!--<span class="name">Łukasz Holeczek</span>-->
            <!--<span class="time">1:32PM</span>-->
            <!--<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img class="avatar" src="/Public/img/avatar.jpg" alt="avatar" />-->
            <!--<span class="name">Łukasz Holeczek</span>-->
            <!--<span class="time">1:32PM</span>-->
            <!--<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img class="avatar" src="/Public/img/avatar.jpg" alt="avatar" />-->
            <!--<span class="name">Łukasz Holeczek</span>-->
            <!--<span class="time">1:32PM</span>-->
            <!--<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img class="avatar" src="/Public/img/avatar.jpg" alt="avatar" />-->
            <!--<span class="name">Łukasz Holeczek</span>-->
            <!--<span class="time">1:32PM</span>-->
            <!--<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img class="avatar" src="/Public/img/avatar.jpg" alt="avatar" />-->
            <!--<span class="name">Łukasz Holeczek</span>-->
            <!--<span class="time">1:32PM</span>-->
            <!--<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img class="avatar" src="/Public/img/avatar.jpg" alt="avatar" />-->
            <!--<span class="name">Łukasz Holeczek</span>-->
            <!--<span class="time">1:32PM</span>-->
            <!--<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img class="avatar" src="/Public/img/avatar.jpg" alt="avatar" />-->
            <!--<span class="name">Łukasz Holeczek</span>-->
            <!--<span class="time">1:32PM</span>-->
            <!--<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img class="avatar" src="/Public/img/avatar.jpg" alt="avatar" />-->
            <!--<span class="name">Łukasz Holeczek</span>-->
            <!--<span class="time">1:32PM</span>-->
            <!--<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img class="avatar" src="/Public/img/avatar.jpg" alt="avatar" />-->
            <!--<span class="name">Łukasz Holeczek</span>-->
            <!--<span class="time">1:32PM</span>-->
            <!--<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img class="avatar" src="/Public/img/avatar.jpg" alt="avatar" />-->
            <!--<span class="name">Łukasz Holeczek</span>-->
            <!--<span class="time">1:32PM</span>-->
            <!--<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>-->
        <!--</li>-->
    </ul>
</div>
<script type="text/javascript">
    $(function(){
        $('.main-menu a[href=\\/admin\\/role\\/index\\.html]').parent('li').addClass('active').parent('ul').show();
        $('.me-header').parent().addClass('chat');
    })
</script>