<!--前面导航信息-->
<div class="box-header" data-original-title="">
    <h2><i class="icon-desktop"></i><span class="break"></span></h2>
    <div class="box-icon">
        <a title="添加" href="#" class="me-table-insert"><i class="icon-plus"></i></a>
        <a id="table-refresh" class="me-table-reload" title="刷新" href="#"><i class="icon-refresh"></i></a>
        <a id="toggle-fullscreen" class="hidden-phone hidden-tablet" title="全屏" href="#"><i class="icon-fullscreen"></i></a>
        <a class="btn-minimize" title="隐藏" href="#"><i class="icon-chevron-up"></i></a>
        <a class="btn-close" title="删除" href="#"><i class="icon-remove"></i></a>
    </div>
</div>
<div class="box-content">
    <!--表格数据-->
    <table class="table table-striped table-bordered table-hover" id="showTable"></table>
</div>
<script type="text/javascript">
    var myTable = new MeTable({sTitle:"图片管理"},{
        "aoColumns":[
			{"title": "图片ID", "data": "id", "sName": "id", "edit": {"type": "hidden", "options": {"required":true,"number":true,}}, "search": {"type": "text"}},
			{"title": "图片标题", "data": "title", "sName": "title", "edit": {"type": "text", "options": {"rangelength":"[2, 50]"}}, "search": {"type": "text"}, "bSortable": false}, 
			{"title": "图片描述", "data": "desc", "sName": "desc", "edit": {"type": "text", "options": {"rangelength":"[2, 255]"}}, "bSortable": false}, 
			{"title": "图片地址", "data": "url", "sName": "url", "edit": {"type": "text", "options": {"rangelength":"[2, 100]"}}, "bSortable": false}, 
			{"title": "图片类型", "data": "type", "sName": "type", "edit": {"type": "text", "options": {"number":true,}}, "search": {"type": "text"}},
			{"title": "图片状态", "data": "status", "sName": "status", "edit": {"type": "text", "options": {"required":true,"number":true,}}, "search": {"type": "text"}}, 
			{"title": "图片排序", "data": "sort", "sName": "sort", "edit": {"type": "text", "options": {"required":true,"number":true,}}}, 
			{"title": "创建时间", "data": "create_time", "sName": "create_time", "createdCell" : dateTimeString}, 
			{"title": "创建用户", "data": "create_id", "sName": "create_id"}, 
			{"title": "修改时间", "data": "update_time", "sName": "update_time", "createdCell" : dateTimeString}, 
			{"title": "修改用户", "data": "update_id", "sName": "update_id"}, 
			oOperate
        ],

        // 设置隐藏和排序信息
        // "order":[[0, "desc"]],
        // "columnDefs":[{"targets":[2,3], "visible":false}],
    });

    $(function(){
        myTable.init();
    })
</script>