<div class="box-content">
    <table class="table table-bordered table-striped my-table">
        <tbody>
        <tr>
            <td width="20%">登录账号</td>
            <td>{$Think.session.my_admin.username}</td>
        </tr>
        <tr>
            <td>注册时间</td>
            <td class="dtime">{$Think.session.my_admin.create_time}</td>
        </tr>
        <tr>
            <td>上次登录时间</td>
            <td class="dtime">{$Think.session.my_admin.last_time}</td>
        </tr>
        <tr>
            <td>上次登录IP</td>
            <td>{$Think.session.my_admin.last_ip}</td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(function()
    {
        $('.dtime').each(function(){$(this).html(timeFormat(parseInt($(this).html()), "yyyy-MM-dd hh:mm:ss"))});
        $('.my-table').before(createImage({'name':'file'}));

        // 文件上传
        var uploader = MeUpload('#handlefile', function(file, data){
            CutOutImage('#handlefile', file.id, data.sPath, [160, 160]);
        });
        uploader.init();

        // 取消图片裁剪
        $(document).on('click', '.me-cancel', function(){
            $(this).parentsUntil('.alert-info').slideUp(1000, function(){
                $(this).parent().remove().empty();
            });
        });

        // 图片裁剪处理
        $(document).on('click', '.me-clipping', function(){
            var f = $($(this).attr('form')),
                d = f.find('input');
            if (d.val() && ((d.attr('x') || d.attr('y')) && (d.attr('w') || d.attr('h') )))
            {
                var l = layer.load();
                $.ajax({
                    type:       "POST",
                    url:        f.attr('action'),
                    data:       {
                        x:      d.attr('x'), // 883842500055260387
                        y:      d.attr('y'),
                        w:      d.attr('w'),
                        h:      d.attr('h'),
                        path:   d.val()
                    },
                    dataType:   "json",
                }).always(function(){
                    layer.close(l)
                }).done(function(json){
                    if (json.status == 1)
                    {
                        $('#handlefile .alert-info').slideUp(1000, function(){
                            $(this).remove().empty();
                            $('#handlefile .alert-success').append('<img src="'+ json.data  +'?url=' + Math.random() + '"/>');
                        });
                    } else {
                        $.gritter.add({
                            title:  "图片裁剪出现问题：",
                            text:   json.msg,
                            image:  "/Public/img/avatar.jpg",
                            sticky: false,
                            time:   "",
                        });
                    }

                }).fail(ajaxFail)
            } else {
                layer.msg('需要确定裁剪位置');
            }

            return false;
        })
    });

</script>