<style type="text/css">
    .mt-text span {padding-left: 10px;}
</style>
<div class="box-header">
    <h2><i class="icon-list"></i>管理员信息</h2>
</div>
<div class="box-content">
    <ul class="nav tab-menu nav-tabs" id="myTab">
        <li class="active"><a href="#messages">登录信息</a></li>
        <li><a href="#info">修改密码</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane" id="info">

        </div>
        <div class="tab-pane active" id="messages">
            <ul class="dashboard-list">
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <i class="icon-user green"></i>
                            <span class="green">账号</span>
                        </div>
                        <div class="span10">
                            {$Think.session.my_admin.username}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <i class="icon-arrow-up green"></i>
                            <span class="green">邮箱</span>
                        </div>
                        <div class="span10">
                            {$Think.session.my_admin.email}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <i class="icon-arrow-up green"></i>
                            <span class="green">头像</span>
                        </div>
                        <div class="span10">
                            <img src="{$Think.session.my_admin.face}" style="width:160px; height:160px;">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <i class="icon-arrow-up green"></i>
                            <span class="green">注册时间</span>
                        </div>
                        <div class="span10 me-time">
                            {$Think.session.my_admin.create_time}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <i class="icon-arrow-up green"></i>
                            <span class="green">上次登录时间</span>
                        </div>
                        <div class="span10 me-time">
                            {$Think.session.my_admin.last_time}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <i class="icon-arrow-up green"></i>
                            <span class="green">上次登录IP</span>
                        </div>
                        <div class="span10 me-time">
                            {$Think.session.my_admin.last_ip}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Settings</h3>
    </div>
    <div class="modal-body">
        <p>Here settings can be configured...</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
    </div>
</div>
<script type="text/javascript">
    $(function()
    {
        $('.dtime').each(function(){$(this).html(timeFormat(parseInt($(this).html()), "yyyy-MM-dd hh:mm:ss"))});
        $('.my-table').before(createImage({'name':'file'}));

        // 文件上传
        var uploader = MeUpload('#handlefile', function(file, data){
            CutOutImage('#handlefile', file.id, data.sPath, [160, 160]);
        });
        uploader.init();

        // 取消图片裁剪
        $(document).on('click', '.me-cancel', function(){
            $(this).parentsUntil('.alert-info').slideUp(1000, function(){
                $(this).parent().remove().empty();
            });
        });

        // 图片裁剪处理
        $(document).on('click', '.me-clipping', function(){
            var f = $($(this).attr('form')),
                d = f.find('input');
            if (d.val() && ((d.attr('x') || d.attr('y')) && (d.attr('w') || d.attr('h') )))
            {
                var l = layer.load();
                $.ajax({
                    type:       "POST",
                    url:        f.attr('action'),
                    data:       {
                        x:      d.attr('x'), // 883842500055260387
                        y:      d.attr('y'),
                        w:      d.attr('w'),
                        h:      d.attr('h'),
                        path:   d.val()
                    },
                    dataType:   "json",
                }).always(function(){
                    layer.close(l)
                }).done(function(json){
                    if (json.status == 1)
                    {
                        $('#handlefile .alert-info').slideUp(1000, function(){
                            $(this).remove().empty();
                            $('#handlefile .alert-success').append('<img src="'+ json.data  +'?url=' + Math.random() + '"/>');
                        });
                    } else {
                        $.gritter.add({
                            title:  "图片裁剪出现问题：",
                            text:   json.msg,
                            image:  "/Public/img/avatar.jpg",
                            sticky: false,
                            time:   "",
                        });
                    }

                }).fail(ajaxFail)
            } else {
                layer.msg('需要确定裁剪位置');
            }

            return false;
        })
    });

</script>