@charset "gb2312";

body{ margin:0 auto; font-size:12px; color:#333; font-family:Arial "宋体"; background:#fff;}
div,form,input,img,ul,li,dl,dd,dt{ margin:0; padding:0; border:0;}
img{ vertical-align:top; }
ul,dl{ list-style-type:none; }
h1,h2,h3,h4,h5,h6{ margin:0; padding:0; border:0; font-size:12px; font-weight: normal; }
a { text-decoration: none; }
a:hover {}
#form input{ margin:0; padding:0;}
.clear {clear:both; *display:inline;}

#wrap{ overflow:hidden;zoom:1; margin:0 auto; overflow:hidden;zoom:1; position:relative; z-index:1; margin-top:-4px;}
@charset "gb2312";



#topBox{background:url("../images/404/topBg.png") repeat-x; height:35px; zoom:1;}
.top{line-height:35px;height:35px;width:991px; margin:0 auto;position:relative ;}
    .top a{}
	.top-l{ float:left; height:20px; line-height:20px; overflow:hidden; width:300px; margin-top:9px;}
	.top-l ul li{ padding-left:18px; float:left; display:inline; margin-right:10px;}
	.top-l ul li a{color:#999; text-shadow:0px 1px 0px #fff;}
	.top-l ul li a:hover{ color:#fb7b00;}
	.top-l ul .syBtn{background:url("../images/404/homeTb.png") no-repeat 0px 3px;}
	.top-l ul .pl{ width:2px; height:12px; overflow:hidden; background:url("../images/404/topPl.png") no-repeat; margin:4px 0px 0px 0px; padding:0px;}
	.top-l ul .scBtn{background:url("../images/404/scTb.png") no-repeat 0px 3px;margin-left:10px;}
	.top-r{ float:right ; width: 180px;}
	.top-r a{float:left; color:#454545;text-shadow:0px 1px 0px #fff; line-height:20px; height:20px; overflow:hidden; display:inline; margin:9px 10px 0px 10px;}
	.top-r a:hover{ color:#fb7b00;}
	.top-r .pl{ float:left; display:block; height:12px; overflow:hidden; width:2px; zoom:1;background:url("../images/404/topPl.png") no-repeat;margin:13px 0px 0px 0px;}
	.top-r .site_nav{ height:30px; float:right; display: none;}
	.top-r .site_nav a{ margin:8px 0px 0px 0px;}
	.top-r .site_nav ul#New{display:none;} 		  
	.top-r .site_nav:hover ul#New{width:501px;height:auto;background:#eee;position:absolute;display:block; right:0px;top:27px;_right:-1px;border:1px solid #DFDDDD;z-index:2000;*padding-bottom:10px; text-align:left; padding:4px}
	.top-r .site_nav:hover ul#New .s-title{ margin:0; padding:0; line-height:35px; height:35px; font-weight:bold; color:#FF0000; padding-left:8px}
	.top-r .site_nav ul#New ul {width:500px; height:162px; border:1px solid #ddd; border-top:0; border-left:0 ; margin:0px; padding:0px }
	.top-r .site_nav ul#New ul li{width:99px;height:26px;text-align:left; font-size:12px;font-family:"宋体";border:1px solid #ddd; background:#fff; float:left;line-height:26px; border-bottom:0; border-right:0 ; }
	.top-r .site_nav ul#New ul li a{ width:89px; height:26px;margin-left:0px; padding-left:10px}
	.top-r .site_nav ul#New ul li a:hover{ color:#FF0000}
	.top-r .site_nav ul#New ul li a.cur{ color:#FF0000}
	

.con{width:970px; overflow:hidden;zoom:1; margin: 60px auto 70px auto;}
.con .l_bg{ float:left; width:285px; height:217px; overflow:hidden; background: url("../images/404/404Img.png") no-repeat; margin-top: 90px; display: inline; margin-left: 30px;}
.con .r_con{ float:right; width:430px; padding-left: 100px; border-left: 1px #f1f1f1 solid; display: inline; margin-right: 20px; padding-top: 35px; padding-bottom: 40px;}
.con .r_con h1{font-size:30px; font-family:"微软雅黑"; color:#f4b27c; line-height:35px; height:35px; padding: 0px 0px 20px 0px; background: url("404_pl.png") no-repeat 0px 54px; margin-bottom:18px;}
.con .r_con p{ margin:0px; padding:0px;display:block;}
.con .r_con p span,.con .r_con p em{ display:block; line-height:30px; height:30px; font-style:normal;}
.con .r_con p span{ font-size:14px; font-family:"微软雅黑"; color:#666;}
.con .r_con p em{ font-size:14px; color:#b6b6b6; padding-left: 22px; background: url("../images/404/404Img.png") no-repeat -386px -183px;}
.con .r_con ul{ overflow:hidden;zoom:1; margin-top: 15px;}
.con .r_con ul li{ float:left; width:60px; overflow:hidden; margin-right: 25px; display: inline;}
.con .r_con ul li a{ display:block; display: block;}
.con .r_con ul li a i{ text-indent:-999em; margin:0px auto; display:block; width:32px; height:32px; cursor:pointer;}
.con .r_con ul li a  b{ display:block; line-height:20px; height:20px; text-align:center; font-weight:300; color:#ababab; margin-top: 3px;}

.con .r_con ul li a .sy{ background:url("../images/404/404Img.png") no-repeat -339px -1px;}
.con .r_con ul li a .dq{ background: url("../images/404/404Img.png") no-repeat -340px -46px;}
.con .r_con ul li a .bbs{ background: url("../images/404/404Img.png") no-repeat -340px -96px;}
.con .r_con ul li a .cz{ background: url("../images/404/404Img.png") no-repeat -341px -143px;}

.con .r_con ul li a:hover  b{color: #000; cursor:pointer;}
.con .r_con ul li a:hover .sy{ background:url("../images/404/404Img.png") no-repeat -376px -1px;}
.con .r_con ul li a:hover .dq{ background: url("../images/404/404Img.png") no-repeat -377px -46px;}
.con .r_con ul li a:hover .bbs{ background: url("../images/404/404Img.png") no-repeat -377px -96px;}
.con .r_con ul li a:hover .cz{ background: url("../images/404/404Img.png") no-repeat -378px -143px;}
.con .r_con .link{ margin-top: 18px; padding-top: 17px; background: url("404_pl.png") no-repeat 0px 0px;}


#footer{width:945px; margin: 0px auto; border-top:1px #e3e3e3 solid; text-align:center;padding-top: 22px;}
#footer span{ display:block; line-height:20px; height:20px; overflow:hidden; color:#ccc; font-size:12px;}
#footer span a{ color:#444;}
#footer span a:hover{ color:#d70000;}
#footer span font{ margin:0px 10px;}
#footer i{color:#898989; font-style:normal; line-height: 28px; display:block; margin-top: 8px;}

