@charset "utf-8";
html, body, div, span, iframe, h1, h2, h3, h4, h5, p, pre, em, img, strong, b, i, dl, dt, dd, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0
}
a, input, button {
	padding: 0;
	margin: 0;
	outline: 0
}
h1, h2, h3, h4, h5 {
	font-size: 100%
}
body {
	font: 12px "microsoft yahei"
}
ul {
	list-style: none
}
a {
	text-decoration: none
}
a:hover {
	text-decoration: underline
}
a, button {
	cursor: pointer
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
input, select, img {
	vertical-align: middle
}
.fl {
	float: left;
	_display: inline
}
.fr {
	float: right;
	_display: inline
}
.clear {
	clear: both
}
.section {
	margin: auto;
	overflow: hidden;
	height: auto
}
.block-a {
	display: block;
	text-indent: -9999px;
	cursor: pointer
}
.cf {
	zoom: 1
}
.cf:after {
	clear: both;
	display: table;
	content: ""
}
.c {
	margin-left: auto;
	margin-right: auto
}
.ac {
	text-align: center
}
.star {
	font: 12px simsun;
	color: #ffa300;
	margin-right: 3px
}
.noresult {
	font-size: 24px;
	width: 360px;
	color: #9c9893;
	height: 63px;
	padding-left: 90px;
	padding-top: 60px;
	margin: 50px auto;
	background: #fff url(../images/fg-avatar-nodata.jpg) no-repeat
}


.ico{
	display:inline-block;width:20px;height:20px;
	background: transparent url(../images/ico-24.png) no-repeat;
	_background:transparent url(../images/ico-24.png) no-repeat;
	_font-size:0}
.log .ico-check{
	margin-left:21px;
	margin-right:5px;
	position:relative;top:3px;*top:auto}

.ico-checked{background-position:0 -60px;}

.ico-check,.ico-checked{
	background-position:0 -80px;
	width:16px;
	height:16px;
	cursor:pointer}
.ico-img, .loged-game a {
	background: transparent url(../images/ico-24.png) no-repeat;
}
.ico-medal {
	background-position: 0 0
}
.ico-wallet {
	background-position: 0 -20px
}
.ico-diamond {
	background-position: 0 -40px
}
.ico-check, .ico-checked {
	background-position: 0 -80px;
	width: 16px;
	height: 16px;
	cursor: pointer
}
.ico-checked {
	background-position: 0 -60px
}
.ico-block-1 {
	background-position: 0 -100px;
	width: 13px;
	height: 13px
}
.ico-block-2 {
	background-position: 0 -120px;
	width: 13px;
	height: 13px
}
.ico-block-3 {
	background-position: 0 -140px;
	width: 13px;
	height: 13px
}
.ico-block {
	background-position: 0 -160px;
	width: 13px;
	height: 13px
}
.ico-bar {
	background-position: 6px -180px
}
.ico-list {
	background-position: 0 -220px
}
.ico-doc {
	background-position: 0 -240px
}
.ico-horn {
	background-position: 0 -260px
}
.ico-arrow-r-s {
	background-position: 0 -280px
}
.ico-arrow-r-m {
	background-position: 0 -300px
}
.ico-handle {
	background-position: 0 -321px
}
ico-handle:hover {
	background-position: 0 -898px
}
.ico-star {
	background-position: 10px -335px
}
.ico-star:hover {
	background-position: 10px -909px
}
.ico-house {
	background-position: 10px -939px
}
.ico-house:hover {
	background-position: 10px -971px
}
.ico-line {
	background-position: 0 -380px
}
.ico-thumb {
	background-position: 0 -400px
}
.ico-bubble {
	background-position: 0 -440px
}
.ico-arrow-d {
	background-position: -4px -565px
}
.ico-tools {
	background-position: 0 -580px
}
.ico-edit {
	background-position: 0 -600px
}
.ico-thumb-2 {
	background-position: 0 -620px
}
.ico-bbs {
	background-position: 0 -640px
}
.ico-hook {
	background-position: 0 -660px
}
.ico-error {
	background-position: 0 -680px
}
.ico-alert {
	background-position: 0 -700px
}
.ico-stop {
	background-position: 0 -720px
}
.ico-radio {
	background-position: 0 -740px
}
.ico-radio-c {
	background-position: 0 -760px
}
.ico-qq {
	background-position: 0 -780px
}
.ico-giftbag {
	background-position: 0 -878px
}
.ico-ring {
	background-position: 10px -997px
}
.ico-ring:hover {
	background-position: 10px -1030px
}
.ico-yct {
	background-position: 10px -1352px
}
.ico-yct:hover {
	background-position: 10px -1319px
}
.ico-clock {
	background-position: 0 -1384px
}
.ico-rotate-arrow {
	background-position: -4px -1194px
}
.btn {
	display: inline-block;
	text-align: center;
	overflow: hidden;
	font-size: 12px;
	background: transparent url(../images/btn-24.png) no-repeat;
}
.btn-l, .btn-r {
	width: 100px;
	height: 37px
}
.btn-r {
	background-position: 0 -37px
}
.btn-l:hover {
	background-position: -102px 0
}
.btn-r:hover {
	background-position: -102px -37px
}
.btn-1 {
	width: 46px;
	height: 22px;
	line-height: 22px;
	background-position: -70px -76px
}
.btn-1:hover {
	background-position: -70px -98px
}
.btn-2, .btn-9 {
	width: 65px;
	height: 22px;
	line-height: 22px;
	background-position: 0 -76px;
	color: #aa6021
}
.btn-2:hover {
	background-position: 0 -98px
}
.btn-3 {
	width: 70px;
	height: 23px;
	line-height: 23px;
	background-position: -114px -300px
}
.btn-3:hover {
	background-position: -114px -323px
}
.btn-4 {
	width: 72px;
	height: 22px;
	line-height: 22px;
	background-position: -115px -253px
}
.btn-4:hover {
	background-position: -115px -275px
}
.btn-5 {
	width: 100px;
	height: 28px;
	line-height: 28px;
	background-position: 0 -216px;
	background-image: url(../images/btn-24.png?t=new);
}
.btn-5:hover {
	background-position: -102px -216px
}
.btn-6 {
	width: 96px;
	height: 34px;
	font-size: 16px;
	line-height: 34px;
	background-position: -103px -123px
}
.btn-6:hover {
	background-position: -103px -158px
}
.btn-7 {
	width: 204px;
	height: 24px;
	line-height: 24px;
	background-position: 0 -430px
}
.btn-7:hover {
	background-position: 0 -454px
}
.btn-8 {
	height: 24px;
	line-height: 24px;
	width: 150px;
	background-position: 0 -620px
}
.btn-8:hover {
	height: 24px;
	line-height: 24px;
	width: 150px;
	background-position: 0 -644px
}
.btn-9 {
	background-position: 0 -169px;
	color: #fff
}
.btn-9:hover {
	background-position: 0 -191px
}
.btn-a-1 {
	width: 97px;
	height: 22px;
	line-height: 22px;
	background-position: 0 -123px
}
.btn-a-1:hover {
	background-position: 0 -145px
}
.btn-a-2 {
	width: 108px;
	height: 22px;
	line-height: 22px;
	background-position: 0 -336px
}
.btn-a-2:hover {
	background-position: 0 -358px
}
.btn-s-1, .btn-s-2 {
	width: 112px;
	height: 44px;
	line-height: 44px;
	background-position: 0 -246px;
	color: #4e4e4c;
	font-size: 18px
}
.btn-s-1:hover {
	background-position: 0 -290px
}
.btn-s-2 {
	width: 145px;
	background-position: 0 -527px
}
.btn-s-2:hover {
	background-position: 0 -572px
}
.btn-s-q {
	width: 80px;
	height: 22px;
	background-position: 0 -382px;
	padding-left: 28px;
	line-height: 22px;
	text-align: left
}
.btn-s-q:hover {
	background-position: 0 -404px
}
.btn-s-get {
	width: 99px;
	height: 45px;
	background-position: 0 -480px
}
.btn-s-get:hover {
	background-position: -102px -480px
}
.btn-s-close {
	width: 17px;
	height: 17px;
	background-position: -115px -349px
}
.btn-s-close:hover {
	background-position: -133px -349px
}
.btn:hover {
	text-decoration: none
}
.t, .t-s, .t-m, .t-b {
	position: relative;
	height: 30px;
	color: #005679;
	padding-left: 25px;
	line-height: 30px;
	overflow: hidden;
	font-size: 16px;
	font-family: simhei;
	border-bottom: 1px solid #b8e1ec;
	background: transparent url(../images/bg-title.jpg) no-repeat right 0
}
.t .ico, .t-s .ico, .t-m .ico, .t-b .ico {
	position: absolute;
	top: 5px;
	left: 5px
}
.t .more {
	position: absolute;
	right: 10px;
	font: 12px "microsoft yahei";
	background:transparent url(../images/home.png) no-repeat -73px -154px;
}
.t-bread {
	line-height: 28px
}
.t-bread a, .t-bread span {
	color: #005679;
	font-size: 14px
}
.corner {
	width: 38px;
	height: 38px;
	background: transparent url(../images/corner.png) no-repeat;
}
.corner-hot-r {
	background-position: -40px 0
}
.corner-hot-g {
	background-position: -80px 0
}
.corner-new-o {
	background-position: -120px -20px;
	width: 23px;
	height: 9px;
	display: inline-block
}
.corner-new-g {
	background-position: -120px 0;
	width: 25px;
	height: 9px;
	display: inline-block
}
.corner-arrow-l {
	background-position: -149px -2px
}
.corner-arrow-l:hover {
	background-position: -195px -2px
}
.corner-arrow-r {
	background-position: -173px -2px
}
.corner-arrow-r:hover {
	background-position: -217px -2px
}
.corner-rec {
	background-position: -240px 0
}
.pager {
	text-align: center
}
.pager a, .pager span {
	display: inline-block;
	font-size: 14px;
	border: 1px solid #d1cdc8;
	padding: 5px 12px;
	margin-left: 2px;
	margin-right: 5px;
	border-radius: 3px;
	box-shadow: 2px 2px 3px #ddd;
*vertical-align:middle
}
.pager .focus, .pager .current {
	border: 1px solid #3c93e8;
	border-radius: 3px;
	box-shadow: 2px 2px 3px #b2d4f6
}
.pager a:hover, .pager .focus {
	text-decoration: none;
	color: #004c84;
	border-color: #3c93e8;
	box-shadow: 1px 1px 3px #add3f7;
	transition: .3s
}
.progress {
	width: 168px;
	height: 31px;
	font-size: 12px;
	position: relative;
}
.progress-lv0 {
	background-position: 0 -31px
}
.progress .progress-level {
	position: absolute;
	right: 10px;
	top: 1px
}
.progress .progress-vip {
	position: absolute;
	left: 40px;
	top: 4px;
	font-size: 10px;
	color: #ffef1e;
	line-height: 1;
	-webkit-transform: scale(0.875)
}
.progress-groove {
	height: 9px;
	width: 155px;
	position: absolute;
	left: 6px;
	top: 18px
}
.progress-core-m, .progress-core-s, .progress-core-e {
	margin-top: 1px;
	height: 7px;
	width: 4px;
	background: transparent url(../images/bg-groove.png) no-repeat;
	_font-size: 0
}
.progress-core-m {
	height: 7px;
	background-position: 0 -14px;
	background-repeat: repeat-x
}
.progress-core-s {
	margin-left: 1px
}
.progress-core-e {
	background-position: 0 -7px
}
.progress-groove-m {
	width: 112px;
	background-color: #fff
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.progress .progress-vip {
	top: 3px
}
}
.module {
	border: 1px solid #bad9e6;
	margin-bottom: 10px;
	background-color: #fefeff;
*zoom:1
}
.ranking-module .ico-medal {
	top: 7px
}
.ranking {
	color: #6f7174;
	padding: 10px
}
.ranking table {
	width: 100%;
	text-align: center
}
.ranking td {
	border-bottom: 2px solid #f2f1ef
}
.ranking th, .ranking td {
	padding: 10px 0
}
.ranking th {
	color: #387191
}
.ranking .ico {
	color: #fff;
	line-height: 1.1;
	_font-size: 12px
}
.ranking-game {
	color: #0095e8
}
.ranking-col-1 {
	width: 40px
}
.ranking-col-2 {
	width: 80px
}
.ranking .ranking-type {
	color: #3c3c3c
}
.corner-r-b {
	background: url(../images/corner-r-b.gif) no-repeat;
	width: 25px;
	height: 31px;
	position: absolute;
	bottom: -1px;
	right: -1px;
	z-index: 1
}
.orange {
	color: #ff6501
}
.red {
	color: #ff6501
}
body {
	color: #3c3c3c
}
.bg {
	background: url(../images/bg-20140102.jpg) no-repeat center 27px;
	width: 100%
}
a {
	color: #3c3c3c
}
.wd-1000 {
	width: 1000px
}
.bg-hd-10px, .n-ul, .n-ul li {
	background: transparent url(../images/bg-header-10px.png)
}
.top {
	height: 31px;
	background-image: none;
	background-color: #f5f5f5;
	border-bottom: 1px solid #d9d9d9
}
.t-main {
	height: 31px;
	line-height: 31px;
	width: 1000px;
	overflow: hidden;
	position: relative
}
.t-main a:hover {
	text-decoration: none;
	color: #f06834
}
.t-m-f, .t-m-r {
	position: absolute;
	top: 0;
	line-height: 31px;
	overflow: hidden
}
.t-m-f {
	left: 0
}
.t-m-r {
	right: 0;
	line-height: 22px;
	margin-top: 1px
}
.t-left-btn {
	height: 31px;
	display: inline-block;
	_width: auto;
	padding: 0 14px 0 28px
}
.t-left-btn-1 {
	padding: 0 10px 0 33px
}
.t-moregames {
	width: 55px;
	position: absolute;
	right: 0;
	top: 0;
	height: 31px;
	line-height: 31px;
	text-align: right;
	padding-right: 15px
}
.t-moregames-focus {
	z-index: 9999
}
.t-moregames .ico-img {
	display: block;
	position: absolute;
	top: 10px;
	right: 3px;
	width: 10px;
	height: 10px;
	background-position: -4px -1194px;
	-webkit-transition: .3s ease-in;
	-moz-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in
}
.t-moregames-focus .ico-img {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg)
}
.ie6 .t-moregames-focus .ico-img, .ie7 .t-moregames-focus .ico-img, .ie8 .t-moregames-focus .ico-img, .ie9 .t-moregames-focus .ico-img {
	background-position: -5px -1268px
}
.t-log {
	display: none;
	width: 94px;
	height: 31px;
	line-height: 31px;
	position: absolute;
	right: 80px;
	top: 0
}
.t-login, .t-reg {
	height: 31px;
	line-height: 31px;
	display: inline-block
}
.t-login {
	width: 32px;
	padding-left: 20px;
	background-position: 2px -1058px
}
.t-login:hover {
	background-position: 2px -1091px
}
.t-reg {
	width: 36px;
	text-align: center
}
.t-loged {
	display: none;
	height: 31px;
	line-height: 31px;
	position: absolute;
	right: 80px;
	top: 0
}
.t-loged a {
	float: left
}
.t-mails {
	display: inline-block;
	position: relative;
	background-position: 26px -1118px;
	width: 50px;
	margin-left: 10px
}
.t-loged .t-mails-on {
	background-position: 26px -1151px
}
.t-mails span {
	position: absolute;
	left: 40px;
	top: 6px;
	font-size: 8px;
	width: 14px;
	height: 13px;
	line-height: 11px;
	background-position: -4px -1224px;
	text-align: center;
	color: #fff
}
.t-loged-vip {
	background-position: -208px -45px;
	padding-left: 35px;
	width: 10px;
	height: 31px;
	color: #ffef1e;
	font-size: 10px;
	margin-left: 2px
}
.t-loged-vip-gray {
	background-position: -368px -45px;
	width: 2px
}
.t-main .t-loged-vip:hover {
	color: #ffef1e
}
.t-log-out {
	margin-left: 8px
}
.t-left-btn, .t-log, .t-moregames {
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5
}
.t-left-btn .t-ico:hover, .t-reg:hover, .t-login:hover {
	background-color: #fff;
	color: #f06834
}
.t-left-btn:hover, .t-log-focus, .t-moregames-focus {
	background-color: #fff;
	border-color: #eee
}
.header {
	height: 96px
}
.h-logo {
	margin-left: 20px;
	width: 165px;
	height: 96px;

	display: inline-block
}
.h-search {
	margin-left: 66px;
	width: 422px;
	height: 96px
}
.hot-words {
	line-height: 30px
}
.hot-words span {
	color: #71747d
}
.hot-words a {
	display: inline-block;
	margin-left: 15px;
	color: #0a5681
}
.hot-words #hotword-0 {
	margin-left: 0
}
.top-flash {
	width: 315px;
	height: 96px;
	margin-left: 10px
}
.nav {
	width: 999px;
	height: 35px;
	padding-left: 1px;
	background-position: 0 -80px
}
.nav-box {
	padding-right: 2px;
	background-position: right -120px
}
.n-ul {
	height: 35px;
	background-position: 0 0
}
.n-ul li {
	width: 98px;
	height: 35px;
	padding-right: 12px;
	text-align: center;
	background-position: right -40px;
	background-repeat: no-repeat;
	float: left
}
.n-ul li a, .n-ul li h1 {
	width: 98px;
	height: 35px;
	text-align: center;
	display: block;
	font: 700 14px/35px "microsoft yahei";
	color: #fff
}
.n-ul a:hover, .n-ul .focus {
	background: url(../images/corner.png) no-repeat -257px -40px
}
.n-ul li.home a{
	background: url(../images/corner.png) no-repeat -257px -40px
}
.n-ul li.on a{
	background: url(../images/corner.png) no-repeat -257px -40px
}
.n-ul a:hover {
	text-decoration: none
}
.n-ul li.bbs {
	background: 0 0
}
.login-ac {
	text-align: center
}
.login-module {
	width: 250px;
	background-color: #fff
}
.login-module label {
	cursor: pointer
}
.login-title {
	height: 30px;
	width: 250px;
	background: transparent url(../images/bg-login.jpg?t=new) no-repeat
}
.login-title-loged {
	background-position: 0 -30px
}
.login-panel {
	height: 204px;
	border: 1px solid #bed7e8;
	overflow: hidden;
	background: transparent url(../images/loading-48x48.gif) no-repeat center center
}
.log {
	position: relative;
	padding-top: 15px;
	background-color: #fff
}
.log p {
	margin-bottom: 11px;
	margin-top: 6px
}
.log .log-btn-wrap {
	margin-bottom: 0
}
.log .log-reg {
	margin: 4px 0 0 20px;
*margin-top:8px
}
.log-loading {
	height: 50px;
	margin-top: 20px;
	background: transparent url(../images/loading-48x48.gif) no-repeat center center
}
.log .log-top {
	margin-top: -28px
}
.log-col {
	display: inline-block;
	width: 65px;
	text-align: right
}
.log-text {
	width: 151px;
	padding: 5px;
	color: #000;
	background: 0 0;
	border: 1px solid #a3d4ec
}
.log-text:focus {
	border-color: #24aaf0;
	border-radius: 2px;
	box-shadow: 0 0 6px #a3d4ec
}
.log .ico {
	margin-left: 30px;
	margin-right: 5px;
	position: relative;
	top: 3px;
*top:auto
}
.log-forget {
	margin-left: 50px;
	color: #005679;
	text-decoration: underline
}
.log-forget:hover {
	text-decoration: none
}
.log-btn-login {
	display: inline-block;
	width: 210px;
	height: 36px;
	border: none;
	background: #fff url(../images/bg-login.jpg?t=new) no-repeat 0 -84px
}
.log-btn-login:hover {
	background-position: 0 -120px
}
.log-others {
	padding: 5px 0 0 17px
}
.log-others .btn {
	position: relative;
	left: 5px;
	top: -1px;
*top:0
}
.loged {
	padding-top: 2px;
	display: none;
	background-color: #fff;
	position: relative
}
.loged-info {
	position: relative;
	padding-left: 70px;
*zoom:1
}
.loged-avatar {
	position: absolute;
	left: 10px;
	top: 5px
}
.loged-out {
	position: absolute;
	top: 0;
	right: 12px;
	text-decoration: underline;
	font-weight: 700
}
.loged-nodata {
	height: 50px
}
.loged-out:hover {
	text-decoration: none
}
.loged .loged-acc {
	margin-bottom: 5px;
	position: relative
}
.loged-points {
	margin-bottom: 3px
}
.loged-points {
	padding: 7px 20px 1px
}
.loged-points .orange {
	width: 62px;
	display: inline-block;
	margin-right: 3px
}
.loged-points .btn {
	margin: -2px 11px 0 0
}
.loged-points .btn-extra {
	margin-right: 0;
	margin-left: 0
}
.loged-game p {
	margin: 1px 8px;
	padding: 2px 8px;
	background: transparent url(../images/bg-login.jpg?t=new) no-repeat 0 -60px
}
.loged-game a {
	font-family: simsun;
	position: relative;
	border-bottom: 1px solid #fff;
	padding: 2px 0 0 10px;
	margin: 0 8px 2px;
	display: block;
	font-size: 12px;
	overflow: hidden;
	_zoom: 1;
	_margin-bottom: 0;
	_margin-top: 2px;
	background-position: -5px -820px
}
.loged-game a:hover {
	text-decoration: none;
	background-position: -10px -299px;
	background-color: #fff1d4
}
.loged-game img {
	margin-right: 5px;
	position: relative;
	top: -2px;
*top:0
}
.loged-game span {
	display: inline-block;
	position: relative;
	top: 1px
}
.loged-game .red {
	margin-right: 10px;
	width: 60px;
	white-space: nowrap
}
.loged-game .loged-game-r {
	right: 5px;
	top: 3px;
	position: absolute;
	padding-left: 5px;
	font-weight: 400;
	text-align: center;
	width: 54px;
	font-family: simsun;
	color: #fff;
	background: transparent url(../images/corner.png) no-repeat 0 -46px;
	line-height: 1.3\9;
*top:4px
}
.loged-game .loged-game-open {
	background-position: -66px -46px
}
.loged-phone {
	width: 150px;
	color: #000;
	box-shadow: 2px 2px 4px #888;
	position: absolute;
	top: 100px;
	left: 40px;
	background-color: #f6fcfc;
	padding: 10px;
	opacity: .9;
	border: 1px solid #bed7e8
}
.loged-phone .ico {
	width: 16px;
	height: 16px;
	background-position: 1px -700px
}
.loged-exp {
	top: -9999px;
	left: -9999px;
	position: absolute;
	box-shadow: 0 0 5px;
	text-align: center;
	border-radius: 3px;
	width: 122px;
	padding: 5px 10px;
	background: #fff;
	border: 1px solid #ddd
}
:root .loged-exp {
	border: 0
}
.fot-rec-game {
	width: 1000px;
	margin: 15px auto 0;
	border-bottom: 2px solid #00c0ff;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	text-align: left
}
.fot-rec-game a {
	color: #979797;
	margin-left: 5px;
	font-size: 14px
}
.fot-rec-game strong {
	color: #0a5681;
	font-size: 14px
}
.footer {
	width: 1000px;
	margin: 0 auto 10px;
	text-align: left;
	color: #71747d;
	position: relative
}
.footer .c {
	padding-bottom: 120px;
	overflow: hidden
}
.footer p {
	text-align: left;
	line-height: 25px
}
.fot-37name {
	color: #38718c;
	font-weight: 700
}
.f-corp-info {
	color: #38718c;
	margin: 0 10px 0 6px
}
.footer-notice {
	color: #919191
}
.aboutus {
	margin: 0 10px 0 26px
}
.footer-ico {
	position: absolute;
	background: url(../images/footer-ico.png) no-repeat 0 0
}
.footer-ico-1 {
	top: 21px;
	right: 149px;
	width: 42px;
	height: 51px
}
.footer-ico-2 {
	top: 21px;
	right: 71px;
	width: 51px;
	height: 51px;
	background-position: -42px 0
}
.footer-ico-3 {
	top: 25px;
	right: 9px;
	width: 47px;
	height: 47px;
	background-position: -93px 0
}
.hot-r, .hot-g {
	position: absolute
}
.pop-th {
	position: relative;
	z-index: 1000
}
.pop-g-box {
	background: #fff;
	padding: 4px;
	width: 391px;
	position: absolute;
	top: -6px;
	z-index: 9999;
	right: -4px;
	display: none;
	box-shadow: 0 4px 4px
}
.pop-g {
	border: 1px solid #d6d6d6;
	border-right: 0;
	background: #fff;
	margin: 0 -1px 0 0
}
.pop-g h2 {
	font: 700 12px/27px "宋体";
	text-indent: 20px;
	color: #0399ee;
	border-bottom: 1px solid #d6d6d6;
	height: 30px;
	line-height: 30px
}
.pop-g a.lnk, .pop-g .pop-g-cate {
	border-bottom: 1px solid #e5e5e5;
	color: #464646;
	float: left;
	height: 29px;
	line-height: 29px;
	padding: 0 10px;
	text-decoration: none;
	width: 109px;
	margin: 0;
	overflow: hidden;
	text-align: center
}
.pop-g .pop-g-cate {
	color: #a0a0a0;
	background: #fdfdfd
}
.pop-g a:hover {
	background: #edf8fc
}
.pop-g-url {
	width: 129px;
	height: 300px;
	overflow: hidden;
	float: left;
	border-right: 1px solid #e5e5e5
}
.pop-g-url span {
	line-height: 29px
}
.pop-g a.lnk {
	position: relative
}
.pop-g .lnk span {
	position: absolute;
	right: 3px;
	top: 10px;
	display: block
}
.sq-dialog {
	position: absolute;
	padding-top: 9px;
	top: 200px;
	left: 500px;
	z-index: 1001;
	color: #333;
	width: 400px
}
.sq-dialog-source {
	display: none
}
.sq-dialog-avatar {
	z-index: 1;
	width: 38px;
	height: 46px;
	position: absolute;
	top: 0;
	left: 10px;
	background: transparent url(../images/bg-dialog-avatar.png) no-repeat;
}
.sq-dialog-body {
	word-break: break-all;
	font-size: 14px;
	background-color: #c0f0f4;
	border: 1px solid #8fdadc;
	box-shadow: inset 0 0 2px 1px #fff;
*padding-bottom:10px
}
.sq-dialog-titlebar {
	position: relative;
	height: 27px;
	color: #494b49;
	padding: 7px 0 3px 50px
}
.sq-dialog-titlebar-text {
	font-size: 16px
}
.sq-dialog-notitle {
	height: 1px;
	overflow: hidden
}
.sq-dialog-client {
	background-color: #fff;
	padding: 14px;
	margin-right: 10px;
	margin-left: 10px
}
.sq-dialog-content {
	margin-left: 10px;
	margin-right: 10px
}
.sq-dialog-close {
	position: absolute;
	right: 10px;
	top: 0;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	background: transparent url(../images/btn-24.png) no-repeat -122px -372px;
}
.sq-dialog-close:hover {
	background-position: -157px -372px
}
.sq-dialog-buttons {
	margin: 0 10px 10px;
	background-color: #fff;
	padding-bottom: 15px;
	text-align: center;
*zoom:1
}
.sq-dialog-buttons a {
	margin-left: 20px;
	margin-right: 20px
}
.sq-dialog-nobutton {
	border: 0;
	padding: 0;
	height: 1px;
	overflow: hidden
}
.sq-dialog-nobutton button {
	display: none
}
.sq-dialog-masking {
	background-color: #000;
	left: 0;
	opacity: .4;
	filter: alpha(opacity=40);
	position: absolute;
	top: 0;
	z-index: 1000;
	width: 100%
}
.sq-dialog-overlay {
	background-color: #fff;
	border: 1px solid #999;
	position: absolute
}
.sq-dialog-content h5 {
	font-weight: 400;
	font-size: 20px;
	color: #0082cb
}
.sq-dialog-content p {
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 10px
}
.sq-dialog-content a {
	color: #008cce;
	margin-left: 3px;
	margin-right: 3px
}
.sq-dialog-content-col {
	display: inline-block;
	width: 112px;
	text-align: right
}
.sq-dialog-loading {
	height: 60px;
	background: transparent url(../images/loading-48x48.gif) no-repeat 50px center
}
.sq-dialog-loading span {
	position: relative;
	top: 20px;
	left: 120px
}
.search-box {
	height: 26px;
	padding: 2px 0;
	margin-top: 29px;
	background: #f5a900;
	border-radius: 5px;
	padding-left: 50px;
	position: relative
}
.search-box input {
	float: left
}
.search-input {
	margin-left: 2px;
	width: 270px;
	height: 26px;
	line-height: 26px;
	background: #fff;
	padding: 0 5px 0 10px;
	border: 0;
	color: #666;
	outline: 0
}
.search-btn {
	width: 70px;
	height: 26px;
	margin-left: 2px;
	background-position: -328px -8px;
	border: 0;
	cursor: pointer
}
.search-type {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 53px;
	height: 26px;
	line-height: 26px;
	background: #fff
}
.search-select-current {
	cursor: pointer;
	float: right;
	height: 26px;
	line-height: 26px;
	width: 50px;
	z-index: 1;
	text-align: center;
	padding-right: 3px
}
.selectbox {
	width: 55px;
	position: absolute;
	left: -2px;
	top: 26px;
	background: #fff;
	border: 2px solid #F5A900;
	border-radius: 0 0 3px 3px;
	border-top: 0;
	z-index: 2;
	display: none
}
.selectbox li {
	width: 55px;
	margin: auto;
	overflow: hidden
}
.selectbox li a {
	width: 55px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center
}
.selectbox li a:hover {
	background-color: #eaeaea;
	text-decoration: none
}
.search-type .ico-img {
	display: block;
	position: absolute;
	top: 8px;
	right: 3px;
	width: 10px;
	height: 10px;
	-webkit-transition: .3s ease-in;
	-moz-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in
}
.search-type-focus .ico-img {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg)
}
.blue {
	color: #1283cf
}
.sign-date {
	width: 340px;
	height: 176px;
	margin: auto;
	overflow: hidden
}
.sign-date table {
	font-size: 14px;
	background: #7097b2;
	width: 100%;
	line-height: 28px;
	text-align: center;
	border-collapse: separate;
	border-spacing: 1px;
	font-weight: 700
}
.sign-date td {
	background: #fff;
	line-height: 28px;
	color: #4a4b4b
}
.sign-date th {
	background: #c8eff4;
	color: #3f6984;
	line-height: 28px
}
.sign-date td.no {
}
.sign-date td.yes {
	background: #fff url(../images/corner.png) no-repeat -153px -46px;
}
.sign-date td.today {
	color: #f90505;
	background-position: -277px -6px
}
.sign-date td.have-signed {
	background: #fff url(../images/signed.gif) no-repeat 9px 0
}
.sign-box {
	width: 340px;
	margin: 8px auto 0;
	text-align: center
}
.date-now {
	width: 175px;
	height: 26px;
	margin: 2px auto;
	text-align: center;
	line-height: 26px;
	font-size: 20px;
	color: #1283cf;
	background: #eaf7fa
}
#sign-notice {
	color: #f42323;
	margin: 0;
	height: 20px;
	line-height: 20px;
	font-weight: 400;
	font-size: 20px;
	color: #0082cb
}
.sign-rules {
	line-height: 22px
}
.sign-notice {
	width: 340px;
	height: auto;
	position: relative;
	margin: 0 auto
}
.sign-notice #sign-float-point {
	line-height: 20px;
	display: none;
	opacity: .9;
	filter: alpha(opacity=90);
	font-weight: 700;
	position: absolute;
	left: 0
}

.main-l {
	float: right;
	width: 710px;
	height: auto
}
.bg-1 {
	border-bottom: 1px solid #BED7E8;
	border-left: 1px solid #BED7E8;
	border-right: 1px solid #BED7E8;
	background: #fff
}
.home-bg {
	background: url(../images/home.png?t=20131231) no-repeat 0 0;
}
.aside-top, .main-top {
	padding-right: 10px;
	border: 1px solid #BAD9E6
}
.aside-top .more, .main-top .more {
	position: absolute;
	right: 10px;
	font-size: 12px;
	font-family: "微软雅黑";
	background-position: -73px -155px;
	padding-right: 15px;
	height: 15px;
	line-height: 15px
}
.main-top-ico {
	width: 4px;
	height: 13px;
	background-position: 0 -207px;
	margin: 10px 7px 0 12px
}




.t, .t-s {
	font: 700 15px/30px "microsoft yahei"
}
.t-s a {
	font-weight: 400
}
.rec-g-tit .btn-1 {
	margin-right: 11px;
	color: #0A5681
}
.btn-1:hover {
	color: #6f6f6f
}
.btn-2:hover {
	color: #b60
}
.btn-a-1 {
	color: #0a5681
}
.btn-a-1 a:hover {
	color: #6F6F6F;
	text-decoration: none
}
.rec-game, .rec-g-img, .r-g-bl, .r-g-bl-a {
	width: 219px;
	overflow: hidden
}
.rec-game {
	height: 298px;
	margin: 9px 8px 0 7px;
	float: left;
	display: inline;
	padding: 1px;
	background: #fff
}
.rec-game-cover {
	position: absolute;
	top: 0;
	left: 0;
	height: 270px;
	width: 229px;
}
.rec-g-img {
	height: 277px;
	position: relative
}
.rec-g-img img {
	height: 183px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1
}
.r-g-bl {
	height: 270px;
	position: relative;
	z-index: 10
}
.r-g-bl-a {
	height: 270px;
	display: block;
	z-index: 10
}
.r-g-bl-a:hover {
	text-decoration: none
}
.rec-info {
	background-position: 0 -90px;
	width: 209px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 170px;
	text-align: left;
	color: #fff;
	padding: 0 10px;
	opacity: 0;
	z-index: 100;
	_background: #48483B;
	_filter: alpha(opacity=50)
}
.rec-info a {
	color: #FFEE2B;
	float: right
}
.rec-game .focus {
	height: 22px
}
.rec-g-tit {
	height: 22px;
	color: #E36C00;
	font-size: 16px;
	font-weight: 700;
	padding-left: 5px;
	padding-right: 5px
}
.rec-g-tit a {
	font-weight: 400
}

.log-btn-login{display:inline-block;width:210px;height:36px; margin:5px 10px 0px 16px;background:#fff url(../images/bg-login.jpg) no-repeat 0 -84px}
.log-btn-login:hover{background-position:0 -120px}