@charset "utf-8";object{outline:0}.n-ul .shop a{background:url(../images/corner.png) no-repeat -257px -40px}
.lottery-wrap{line-height:1.5;background:transparent url(../images/lottery-side-newyear.jpg) no-repeat center top;
color:#505151;font-family:SimSun sans-serif}
.container{position:relative;width:1000px;height:760px;background:transparent url(../images/lottery-main-newyear.jpg) no-repeat}
.lottery-flash{position:absolute;width:730px;height:740px}
.lottery-flash-main{width:730px;height:740px}
.lottery-flash-loading{position:absolute;left:50%;margin-left:-30x;top:250px;width:60px;height:60px;border-radius:5px;
background:#fff}
.lottery-luckyman{position:absolute;right:15px;top:100px;height:145px;width:225px;overflow:hidden}
.lottery-luckyman li{margin-bottom:12px;white-space:normal;overflow:hidden;text-overflow:ellipsis}
.lottery-luckyman .orange{margin-left:3px;margin-right:3px}
.lottery-regular{position:absolute;right:15px;top:350px;width:225px}
.lottery-regular p{position:relative;margin-bottom:10px;padding-left:25px;*zoom:1}
.lottery-regular p span{position:absolute;left:0}
.text{width:185px;border:1px solid #d0dcde;background-color:#e9f8ff;padding:7px 10px;border-radius:2px}
@media all and (min-width:0){.text{padding-bottom:8px\9}}.text:focus{border:1px solid #00e7ff;box-shadow:inset 0 0 4px #d6e5ea}
.dblue{color:#5e899f}
.lottery-record{padding:15px 25px}
.lottery-record table{width:100%}
.lottery-record th{background-color:#c5eeff;color:#5e899f;font-size:14px;padding:10px;border-bottom:1px solid #6acbf7}
.lottery-record td{padding:20px 10px;border-bottom:1px dashed #d5e6e7}
.lottery-date{color:#798d8e;text-align:center}
.lottery-col-1{width:210px}
.lottery-col-2{width:130px}
.lottery-norecord{color:#85a5a8;font-size:20px;padding-top:30px;padding-bottom:30px;text-align:center}
.goods-record-secpwd{font-size:16px;margin-top:100px;text-align:center}
.main{background-color:#fefeff;border:1px solid #bed7e8;min-height:547px;_height:547px;_overflow:visible}
.pager{margin-top:50px;margin-bottom:50px}
.sq-dialog-detail{font-size:12px;margin-bottom:10px}
.sq-dialog-detail p{margin-bottom:3px;margin-top:3px}
.sq-dialog-text{width:80px;border:1px solid #d0dcde;background-color:#e9f8ff;padding:7px 5px;border-radius:2px}
@media all and (min-width:0){.sq-dialog-text{padding-bottom:8px\9}}.sq-dialog-text:focus{border:1px solid #00e7ff;box-shadow:inset 0 0 4px #d6e5ea}
.sq-dialog-long{margin-left:42px;width:250px}
.mr10{margin-right:10px}
.sq-selectmenu{display:inline-block;position:relative}
.sq-selectmenu-input{border:1px solid #d0dcde;background-color:#e9f8ff;padding:7px 10px;border-radius:2px}
.os-mac .sq-selectmenu-input{font-size:14px}
.sq-selectmenu-menu{display:none;top:0;left:0;position:absolute;border:1px solid #c8e4ed;overflow:auto;background-color:#fff;font-size:14px;color:#585954;*overflow-x:hidden}
.sq-selectmenu-menu a{color:#585954;display:block;padding:8px 10px;font-size:14px;z-index:10;white-space:nowrap}
.sq-selectmenu-menu a:hover{text-decoration:none}
.sq-selectmenu-menu-hover{background-color:#e9f8ff}
.sq-selectmenu-menu-focus{background-color:#86cbf7}
.sq-selectmenu-menu .sq-selectmenu-item-disabled{color:#aaa;cursor:default}
.sq-selectmenu-btn{margin:0!important;padding:0;display:inline-block;position:absolute;right:1px;top:0;width:25px;height:32px;
background:transparent url(../css/images/common/btn-24.png) -121px -76px;*top:1px;_top:2px;}
.sq-selectmenu-btn-hover{background-position:-148px -76px}
.sq-selectmenu-btn-focus{background-position:-175px -76px}
.sq-selectmenu-disabled{background-color:#fff;display:block;height:100%;left:0;opacity:.5;position:absolute;top:0;width:100%;z-index:20;filter:alpha(opacity=50);_height:32px}
@media all and (min-width:0){.sq-selectmenu-input{padding-bottom:8px\9}}
.exchange-loading{height:60px;}
.exchange-loading span{position:relative;top:20px;left:120px}