.n-ul li.shop a{background:url(../images/corner.png) no-repeat -257px -40px}
h2{font-weight:400;font-size:16px}
.wrap{margin:10px auto 0;background:#fff}
.aside{float:left;width:250px;overflow:hidden;height:auto;margin-top:-1px}
.main{float:right;width:740px;overflow:hidden;height:auto}
.bg-1{border-bottom:1px solid #bed7e8;border-left:1px solid #bed7e8;border-right:1px solid #bed7e8;background:#fff}
.bg-2,.s-table .focus{background:url(../images/home/bg-ui.png) no-repeat 0 0}
.shop-btn{background:url(../images/btn.png) no-repeat 0 0;_background-image:url(../images/btn-8.png)}
.aside-top,.main-top{margin:10px auto 0;padding-right:10px;border:1px solid #bad9e6}
.aside-top .more,.main-top .more{position:absolute;right:10px;top:0;font-size:12px;font-family:"微软雅黑";line-height:30px}
.item-top{border:1px solid #bad9e6}
.item-top a{color:#005679;font-family:SimHei}
.item-top .item-paths{color:#76777B}
.btn-1{margin-right:11px}
.btn-1:hover{color:#6f6f6f}
.btn-2:hover{color:#b60}
.btn-9:hover{color:#fff}
.btn-a-1{color:#0a5681}
.btn-a-1 a:hover{color:#6f6f6f;text-decoration:none}
.sign{height:53px;margin:10px auto 0}
.sign-a{height:53px;width:250px;background-position:0 -120px}
.sign a:hover{background-position:0 -173px}
.lottery{height:200px;padding:8px 10px 0 20px}
.lottery-top .ico{top:2px}
.lottery .winners{height:140px;overflow:hidden}
.lottery li{height:28px;line-height:28px;overflow:hidden;white-space:nowrap}
.lottery li span{margin:0 3px;display:inline-block}
.lottery .l-p{min-width:50px;_width:50px;overflow:visible}
.draw-now{background-position:0 -240px;width:148px;height:38px;margin:10px auto 0}
.draw-now:hover{background-position:0 -278px}
.left-history-lnk{background-position:0 -320px;width:251px;height:53px;margin:10px auto 0}
.left-history-lnk:hover{background-position:0 -373px}
.rank-info{padding:10px 0}
.s-table{border-collapse:collapse;border-spacing:0;width:236px;margin:auto}
.s-table th,.s-table td{border-bottom:1px dotted #afc4d0;height:23px;line-height:23px;padding:2px;text-align:center}
.s-table th{height:29px;line-height:29px;background:#d6f7ff;color:#0a5681;border:0;font-weight:400}
.s-table tr{height:29px}
.s-table .ico{color:#fff;font-size:10px}
.s-table td{height:13px;line-height:13px;padding:8px 0}
.s-table .s-g-name{color:#0095ea}
.s-table .focus td{color:#fff}
.s-table .s-last td{border:0}
.r-table th,.r-table td{border-bottom:2px solid #f2f2f2}
.r-serv{color:#e36c00}.exchange{height:215px;padding:8px 10px 0 13px}
.exchange p{line-height:28px;height:28px;overflow:hidden}
.news{height:235px}.news-list{width:284px;height:235px;}
.news-list-top{margin:auto;padding-left:33px}
.news-list-con{height:202px;border:1px solid #bad9e6;border-top:0;background:#fff;position:relative;overflow:visible}
.news-list-con ul{padding:0 5px;overflow:hidden}
.news-list-con li{height:22px;line-height:22px;margin:8px auto 0;overflow:hidden;padding-left:20px;
background:url(../images/ico-24.png) no-repeat -4px -298px;_background-image:url(../images/ico.png)}
.news-list-name{width:75px;height:22px;display:block;text-align:center;line-height:22px;background-position:0 -310px}
.news-list-t2{background-position:0 -288px}
.news-list-con .first-child{height:30px;line-height:30px;border-bottom:1px dotted #E2E2E2;background:0 0;padding:0;text-align:center}
.news-list-con .first-child a{color:#e36c00;font-size:14px}
.kv{border:1px solid #c0d8e9;width:443px;height:232px;overflow:hidden;overflow:hidden;position:relative}
.kv img{width:443px;height:232px}
.kv-num{position:absolute;bottom:5px;right:5px}
.kv-num li{list-style:none;float:left;width:18px;height:18px;filter:alpha(opacity=80);opacity:.8;
background-color:#fff;color:#666;text-align:center;cursor:pointer;margin-right:4px;overflow:hidden;border-radius:4px}
.kv-num li:hover,.kv-num .focus{background-color:#666;color:#fff;width:18px;height:18px;font-weight:700;font-size:13px}
.ms{padding-bottom:12px}
.mission{width:208px;height:78px;padding:12px 0 0 9px;overflow:hidden;float:left;_display:inline;margin:10px 0 0 23px;border:2px solid #fff}
.mission:hover{background:#f5f5f5;border:2px solid #d2eef7}
.ms-fr{width:106px;height:20px;line-height:20px;clear:right;overflow:hidden}
.ms-get{height:22px;margin-top:5px;text-align:left}
.ms-get .btn{vertical-align:top}
.ms-img{width:89px;height:66px;padding:2px;background:#dfdfdf;clear:left;border-radius:2px}
.ms-img img{width:89px;height:66px}
.virtual,.physical{padding-bottom:20px}
.vt-goods{width:152px;height:auto;float:left;margin:22px 0 0 10px;display:inline;position:relative}
.vt-remain{line-height:20px}
.vt-tit{text-align:center;overflow:hidden;line-height:18px}
.vt-img{padding:0 10px}
.vt-img img{width:128px;height:86px;border:2px solid #e0dee3;border-radius:3px}
.vt-img img:hover{border:2px solid #f9680b}
.vt-get{text-align:center;line-height:22px}
.vt-get .btn{vertical-align:top}
.vt-remain em,.orange{color:#ff6501}
.goods-lists .vt-goods{margin:22px 0 0 25px}
.goods-b{width:224px;clear:left;margin:22px 0 0 15px}
.goods-b .vt-img{padding:0;width:224px;height:259px}
.goods-b .vt-img img{width:220px;height:255px}
.goods-b .vt-tit a{font-size:14px;font-weight:700}
.goods-b .vt-remain{padding:0 20px;line-height:22px}
.al-gs-top{margin:auto}.al-gs{background:#fff;padding:10px 0 0;min-height:1220px;_height:1220px;_overflow:visible}
.gs-filter{border-bottom:1px dashed #d1edf7;width:698px;margin:10px auto 0;padding-bottom:15px}
.gs-filter a,.gs-filter span{float:left;display:inline}
.gs-filter p{line-height:22px;height:auto;overflow:hidden;margin-top:3px;_width:100%}
.gs-filter a{margin:2px 0 0 10px;padding:0 5px;color:#666}
.gs-filter a.active,.gs-filter a:hover{background-color:#67b1e9;color:#fff;text-decoration:none}
.gs-flt-1{width:68px;height:24px;background:url(../images/filter.jpg) no-repeat 0 0;text-align:center;padding-right:3px;line-height:24px}
.al-gs .vt-goods{padding-top:1px}.rec-goods{position:absolute;left:8px;top:0;background-position:-239px 0}

.m-list-1-top,.points-exc-top{margin:auto}
.points-exc-top span{font-size:14px}.p-exc{width:310px;height:80px;float:left;display:inline;margin:10px 0 0 33px}
.p-exc-fr{width:200px;height:20px;line-height:20px;clear:right;margin-top:3px;overflow:hidden}
.p-exc-get{height:22px;line-height:22px}
.p-exc-img{width:89px;height:66px;clear:left;border:2px solid #dfdfdf}
.p-exc-img img{width:89px;height:66px}
.p-exc-name .red{font-size:18px}

.m-list-1,.m-list-2,.m-list-3{height:auto;padding-bottom:20px;overflow:hidden}

.gf-c-box{min-height:200px;padding-bottom:20px}
.gf-c{width:690px;height:237px;font-size:14px;padding-top:15px}
.gf-c-fr{width:303px;height:30px;line-height:30px;clear:right}
.gf-c-img{width:351px;height:237px;clear:left}
.gf-c-img img{width:347px;height:233px;border:2px solid #dfdfdf}
.gf-c-name{font-size:20px;height:25px;line-height:25px;color:#0a5681}
.gf-c-postage{width:263px;height:38px;line-height:19px;
background:url(../images/postage.jpg) no-repeat left center;padding-left:40px;color:#0070af;margin:5px 0 8px}
.gf-c-get{height:auto}.gf-c-get a{width:168px;height:55px;float:left;background-position:0 0;margin-top:10px}
.gf-c-get a:hover{background-position:0 -55px}
.goods-intr{width:717px;border-bottom:2px solid #ddd;overflow:visible;height:30px;line-height:30px;margin:18px auto 0}
.g-i-tit{border-bottom:2px solid #14b4e6;padding-right:5px}.g-i-tit span{float:left;color:#0a5681;font-size:16px}
.g-i-tit-ico{margin:6px 0 0 2px}.g-i-con{width:717px;height:auto;margin:8px auto 0;line-height:23px}
.g-i-con .vt-goods{margin:12px 0 0 20px}

.hot-game{margin:14px 0 0 16px;width:216px;height:145px;overflow:hidden;float:left;display:inline;position:relative;padding-left:1px}
.hot-g-img{width:216px;height:95px;overflow:hidden}
.hot-g-img img{width:216px;height:95px}
.hot-g-tit{height:23px;line-height:23px;padding-top:5px}
.hot-g-tit a{color:#e36c00;font-size:14px;font-weight:700}
.hot-g-tit,.hot-g-lnk{padding-left:5px}
.hot-ent-g,.h-gf-bag{width:65px;height:22px;line-height:22px;text-align:center;display:block;
background:url(../images/ico-24.png) no-repeat -12px -298px;_background-image:url(../images/ico.png)}


    #pager{margin:47px auto}
.text{width:185px;border:1px solid #d0dcde;background-color:#e9f8ff;padding:7px 10px;border-radius:2px}
@media all and (min-width:0){.text{padding-bottom:8px\9}}.text:focus{border:1px solid #00e7ff;box-shadow:inset 0 0 4px #d6e5ea}
.sq-dialog-detail{font-size:12px;margin-bottom:10px}
.sq-dialog-detail p{margin-bottom:3px;margin-top:3px}
.sq-dialog-text{width:80px;border:1px solid #d0dcde;background-color:#e9f8ff;padding:7px 5px;border-radius:2px}
@media all and (min-width:0){.sq-dialog-text{padding-bottom:8px\9}}.sq-dialog-text:focus{border:1px solid #00e7ff;box-shadow:inset 0 0 4px #d6e5ea}
.sq-dialog-long{margin-left:42px;width:250px}.mr10{margin-right:10px}
.sq-selectmenu{display:inline-block;position:relative}
.sq-selectmenu-input{border:1px solid #d0dcde;background-color:#e9f8ff;padding:7px 10px;border-radius:2px}
.os-mac .sq-selectmenu-input{font-size:14px}
.sq-selectmenu-menu{display:none;top:0;left:0;position:absolute;border:1px solid #c8e4ed;overflow:auto;background-color:#fff;font-size:14px;color:#585954;*overflow-x:hidden}
.sq-selectmenu-menu a{color:#585954;display:block;padding:8px 10px;font-size:14px;z-index:10;white-space:nowrap}
.sq-selectmenu-menu a:hover{text-decoration:none}
.sq-selectmenu-menu-hover{background-color:#e9f8ff}
.sq-selectmenu-menu-focus{background-color:#86cbf7}
.sq-selectmenu-menu .sq-selectmenu-item-disabled{color:#aaa;cursor:default}
.sq-selectmenu-btn{margin:0!important;padding:0;display:inline-block;position:absolute;right:1px;top:0;width:25px;height:32px;
background:transparent url(../images/btn-24.png) -121px -76px;*top:1px;_top:2px;_background-image:url(../images/btn.png)}
.sq-selectmenu-btn-hover{background-position:-148px -76px}
.sq-selectmenu-btn-focus{background-position:-175px -76px}
.sq-selectmenu-disabled{background-color:#fff;display:block;height:100%;left:0;opacity:.5;position:absolute;top:0;width:100%;z-index:20;filter:alpha(opacity=50);_height:32px}
@media all and (min-width:0){.sq-selectmenu-input{padding-bottom:8px\9}}.exchange-loading{height:60px;background:transparent url(../images/loading-48x48.gif) no-repeat 50px center}
.exchange-loading span{position:relative;top:20px;left:120px}
.task-list{background-color:#fefeff;border:1px solid #bed7e8;margin-bottom:15px;*zoom:1}
.task-list-panel{padding-bottom:10px;position:relative}
.task-list-loading{display:none;position:absolute;z-index:2;width:100%;height:100%;top:0;left:0;
background:#fff url(../images/loading-48x48.gif) no-repeat 250px center;opacity:.8;filter:alpha(opacity=80)}
.task-list-loading span{color:#000;font-size:16px;position:absolute;display:block;left:310px;height:20px;top:50%;margin-top:-10px}
.task-list .more{font-size:14px;padding-right:20px;line-height:1;top:8px;right:20px;
background:url(../images/ico-24.png) no-repeat no-repeat;_background-image:url(../images/ico.png)}
.task-list .ico-p-up{background-position:27px -843px}
.task-list .ico-p-down{background-position:27px -862px}
.task-btn-disabled{background-position:-114px -400px;color:#999;cursor:default}
.task-btn-disabled:hover{color:#999;background-position:-114px -400px}
.task-point-tip{position:absolute;opacity:.9;padding:10px;background-color:#fff;top:-1000px;left:-1000px;color:#ff6501;font-size:14px;
border:1px solid #aaa;box-shadow:0 0 3px #999;z-index:10;border-radius:4px}
.i-giftbag h4{background-color:#cff8ff;color:#005679;font-weight:400;padding:5px 10px;margin:5px 2px 0}
.i-giftbag .c1,.i-giftbag .c2{margin-right:56px}
.i-giftbag-p{margin-right:10px;margin-left:10px;height:360px;overflow:hidden}
.loading{background:#fff url(../images/loading-48x48.gif) no-repeat center center}
.i-giftbag-p li{position:relative;padding:8px 10px 6px 30px;font-family:simsun;border-bottom:2px solid #f2f1ef;*zoom:1}
.i-giftbag-p .ico{_font-size:12px}
.i-giftbag-p a:hover{text-decoration:none}
.i-giftbag-p .ico{color:#fff;text-align:center;line-height:1;position:absolute;left:2px;top:10px}
.i-giftbag-p .gift{display:inline-block;width:140px}
.i-giftbag-p .h-img{width:50px;border:1px solid #e2e1dd;box-shadow:0 0 2px #ccc;margin-top:3px}
.i-giftbag-p .h{display:none}.h-text{width:130px}
.h-text p{margin-bottom:4px;margin-left:10px}.ar{text-align:right}
.exc-rank-top .ico{top:6px}.hot{width:688px;margin:auto;font-size:14px;padding-top:30px}
.hot-title{position:relative;background-color:#effbfe;padding:10px;margin-top:3px}
.hot-switch{right:10px;top:10px;display:block;opacity:.7;filter:alpha(opacity=70);position:absolute;width:59px;height:23px;
background:transparent url(../images/bg-hot-sp.png) no-repeat 0 bottom}
.hot-switch:hover{opacity:1;filter:alpha(opacity=100)}
.hot-title .focus{background-position:0 0}
.hot-panel{display:none;border:1px solid #d1f2fe;position:relative;padding:10px 20px;margin-bottom:10px;*zoom:1}
.hot-an{position:absolute;top:10px;left:22px}
.faq-table{line-height:20px;margin:auto;background:#E1E1E1;border-collapse:separate;border-spacing:1px}
.faq-table th{height:22px;line-height:22px;padding:2px 4px;text-align:center;background:#E1F3FF}
.faq-table td{line-height:18px;padding:2px 4px;background:#fff;text-align:center}